[2019-03-26 13:43] perploug opened #1 "To-dos"
- [x] [CONTRIBUTING.md](../blob/master/CONTRIBUTING.md) updated
- [x] [CONTRIBUTORS.md](../blob/master/CONTRIBUTORS.md) updated with names of external contributors
- [x] [CODEOWNERS](../blob/master/.github/CODEOWNERS) updated with usernames of who review which PRs
- [x] [MAINTAINERS](../blob/master/MAINTAINERS) updated with team member contact info
- [x] [CODE_OF_CONDUCT.md](../blob/master/CODE_OF

[2019-03-27 10:08] samurang87 opened #5 "Set up Travis"
Set up the CI for this project

[2019-03-27 13:35] nolar opened #10 "Kopf-based operator fails with KeyError ['uid']"
## Actual Behavior

There is a stacktrace in the operator written with Kopf:

[code]

## Expected Behaviour

No sporadic errors.

## Steps to Reproduce the Problem

(unknown)

## Specifications

  - Version: 0.5

[2019-03-27 20:52] #10 closed

[2019-03-28 13:12] #1 closed

[2019-04-01 17:25] nolar opened #12 "Documentation"
The project is now in the proof-of-concept stage, and lacks the documentation (beside the docstrings and examples).

It needs some normal hosted HTML docs (e.g. on ReadTheDocs).

* [x] Hosting configured.
* [x] Builds configured.

Specifically, some topics to not forget:

* [x] Typical patterns to solve typical problems (similar to examples). E.g., children object creation.
* [x] Deployment patter

[2019-04-01 17:26] nolar opened #13 "Tests automation"
The project is now in the proof-of-concept stage, and lacks the tests (beside the examples, manually executed during the development).

It needs some good unit tests to freeze its current state, so that we could continue to add new features safely.

Separate the tests into the internal tests and the external promises of the interface.

Add the coverage measurements.

---

An estimation of topics t

[2019-04-02 09:30] nolar opened #15 "Consider pykube-ng?"
Originally by @hjacobs :

[2019-04-02 09:32] nolar opened #16 "Do not show the stacktraces on the retry/fatal exceptions"
The retry-/fatal-exceptions are the signals for the framework to stop handling or to retry the handler. They are not the regular "unexpected" errors, since they are expected.

As such, the stacktraces should not be printed. Yet the messages of the exceptions should be printed/logged.

For other regular exceptions, which are by design "unexpected", the stacktraces should be printed/logged as usuall

[2019-04-02 09:40] nolar opened #17 "Add the RBAC examples for deployments"
Kopf is just a framework, but the Kopf-based operators must be deployed to the cluster. For that, they would need the RBAC (role-based access control) templates and examples.

Add and document some common templates with the RBAC objects (roles, rolebindings, etc).

[2019-04-02 09:45] nolar opened #18 "Add health checks"
## Expected Behavior

The operator is restarted by Kubernetes if it becomes irresponsive.

## Actual Behavior

The operator can stuck for any reason (e.g. bugs), and nobody will notice — except as by no reaction to the added/deleted objects.

## Steps to Reproduce the Problem

  1. Put a synchronous `time.sleep(300)` anywhere in the async handler (`async def ...`).
  1. Let it run.
  1. Observe ho

[2019-04-02 09:48] nolar opened #19 "Call handlers by time"
## Expected Behavior

Some of the handlers must be called regularly on the schedule (e.g. cron-like).

For example, to monitor the actual state of the system (as changed out of scope of the operator) with the declared state (as in the yaml files).

## Actual Behavior

Only the objects changes cause the handlers execution.

The objects are not always changed when something else (unmonitored) happen

[2019-04-02 09:49] nolar opened #20 "Call handlers for cluster events"
## Expected Behavior

Some handlers should be called when the cluster events happen, such as the cluster upgrades.

## Actual Behavior

Only the objects changes cause the handlers execution.

The objects are not always changed when something else (unmonitored) happens in the cluster or with the cluster.

See also #19

[2019-04-04 21:42] nolar opened #21 "Field-handler should receive field-diffs, not the object-diffs"
## Expected Behavior

The field-handler (`@kopf.on.field`) receives the `diff` object with the diffs specific for that field, same as the `old` & `new` values. And the field paths should be relative to the handled field.

## Actual Behavior

The `diff` object contains the diffs for the whole object (all fields), and relative to the object's root.

Detected while writing the documentation (though w

[2019-04-06 06:51] nolar opened #23 "Configurable field for the status storage"
## Actual Behavior

Currently, Kopf stores the internal status of the handlers in `status.kopf` (hard-coded). It is used for exchanging the information cross the event cycles.

This is done in the assumption that there is only one operator/controller per resource kind.

If two or more different Kopf-based operators/controllers are handling the resource, especially the reusable resource, such as Po

[2019-04-06 07:10] nolar opened #24 "Configurable/optional finalizers"
## Actual Behavior

[Finalizers](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/) are marks that are stored as a list of arbitrary strings in `metadata.finalizers`. When the object is requested to be deleted, its deletion timestamp is set only. Until such marks exist on the object, it will not be deleted, and the deletion request will wait until the marks are removed

[2019-04-08 12:13] nolar opened #25 "Operator freezes while exiting after an error in the watching/queueing cycle"
## Expected Behavior

When an error happens in the watching/queueing coroutines, the process exits, and the pod is restarted by Kubernetes (or it just exists if executed locally).

## Actual Behavior

In some cases, the process freezes after the exception, and no new events are handled, nothing is logged.

## Steps to Reproduce the Problem

Uncertain, but:

  1. Simulate an error in the watching c

[2019-04-08 12:34] nolar commented on #5
Done.

[2019-04-08 12:34] #5 closed

[2019-04-16 14:59] nolar commented on #25
The issue is _presumably_ fixed in #27.

"Presumably" means that it was one certain way of freezing the operator forever with no reaction. This way is now fixed. But it is unclear how this way could be triggered and activated: the `kubernetes.watch.Watch().stream()` call never ends normally, since it has `while True` inside.

Which, in turn, means that there could be other reasons and ways of free

[2019-04-16 14:59] #25 closed

[2019-04-18 14:56] nolar opened #30 "Silent handlers (spies)"
Currently, handlers are fully orchestrated by the framework, and their progress is stored in the object's `status.kopf` field. This limits the handlers only to the objects designed specially for this operator.

Sometimes, it is needed to watch after objects of different kind, or maybe even the built-in objects, such as pods, jobs, so on — e.g. created as the children of the main object. Putting th

[2019-04-21 17:14] psycho-ir opened #31 "Use --standalone option in the readme of the examples"
Hi,

First of all thanks a lot for initiating this project, I think it will be a very useful project for the community.

So about the issue, I had some difficulties to run the examples as I didn't setup the peering before jumping to the examples.

Firstly I think it would be better to use `--standalone` parameter in the readme of the examples, so that users who haven't setup the peering yet won't

[2019-04-21 19:12] nolar opened #32 "Namespace-scoped operators"
## Current Behaviour

Currently, `--namespace=` option is used only to limit the watch-event to the objects belonging to that namespace, and ignoring objects in other namespaces.

However, the framework continues to use the cluster-wide watching calls, and cluster-wide peering objects. The peering objects are now cluster-scoped by definition (in CRD), and there are no namespace-scoped peering obje

[2019-04-21 19:37] nolar opened #33 "Auto-guessing the peering mode"
## Current Behaviour

Currently, the peering object is needed by default, unless `--standalone` option is used, which disables the peering completely.

This causes the confusion for the first intro and following the tutorial — in case the cluster is not configured yet (no peering objects created). See: #31.

If standalone mode is made the default, there is a negative side-effect: if somebody runs

[2019-04-21 19:37] nolar commented on #31
@psycho-ir Thanks for your feedback. I am glad that you like the idea of such a framework.

I think, your suggestion totally makes sense. If your suggestion is to fix the the docs & `./examples/*/README.md` files only, feel free to do it — I welcome your contribution.

If you want to change the framework behaviour, please take a look at  #32 & #33 first — I have just written down some of my though

[2019-04-21 19:47] psycho-ir commented on #31
I just read them, yep they make totally sense to me.
I think by implementing #33 we don't even to change the doc and adding the `--standalone` to the docs.

I can work on it this week, or you would rather it's implemented after #32? to have support of the namespaced peerings in the first run.

[2019-04-21 21:46] nolar commented on #31
@psycho-ir I would say they are independent (unless there are some tricky details which I do not foresee).

You can just keep the always-cluster-scoped concept for now, and implement the logic for the present/absent peering object.

[2019-04-22 02:03] nolar commented on #31
@psycho-ir Please, take a look at #36 & #37 — regarding the #32 (namespace isolation of the served objects and of the peering objects). Seems working as expected — I will double-check tomorrow, with fresh mind.

You can send your implementation for #33 as is — I will rebase&resolve these two PRs later (they are less important than a working tutorial).

[2019-04-22 02:07] #21 closed

[2019-04-22 10:26] psycho-ir commented on #33
@nolar I think it's better to not support `--peering` as flag. It might bring ambiguity in cases like this:
`run ../examples/01-minimal/example.py --peering --verbose`
It can be interpreted as a peering with name `--verbose`.
IMO it's safe to switch to auto-mode if `--peering` does not exist and just show the warning to the user.
wdyt?

[2019-04-22 21:25] nolar commented on #33
@psycho-ir  Agree. Also, it is unclear what is meant if it is just a flag: which peering object to use.

I've fixed the issue text.

[2019-04-25 19:45] #33 closed

[2019-04-26 08:19] nolar opened #42 "Ignore the events from the past"
## Actual Behaviour

Kopf-based operator reacts to the object creation events in some cases. In more details, it is described in https://github.com/kubernetes-client/python/issues/819.

**Briefly:** it is caused by how a kubernetes client library is implemented: it remembers the last seen resource version among all objects as they are listed on the initial call. Kubernetes lists them in arbitrary

[2019-04-26 08:51] nolar commented on #31
Indirectly fixed by #33 & #38 (auto-detection of the peering mode) — the tutorial does not break if the cluster is not configured with the peering object.

[2019-04-26 08:51] #31 closed

[2019-04-26 09:08] nolar opened #44 "JSON logging"
Currently, Kopf logs in text mode, one line per event. In the multi-line events (e.g. with the data dumps), it is intentionally flattened to remain in one line — to be friendly with the logging systems such as Scalyr. This makes the log reading difficult.

Instead, Kopf should log the JSON objects per logging event, so that they could be consumed by the logging systems such as Scalyr, and delivere

[2019-04-26 09:52] nolar opened #45 "Filter by labels/annotations"
Currently, all objects are watched (either globally or by namespace, see #32), and all objects are handled. This is a normal case for the operator that "owns" the handled objects.

For the cases when an operator spies on the objects tat it does not "own", such as pods (#30), or the log (#46 ), it should be able to filter out all objects definitely not in the scope of interest.

The easiest way is

[2019-04-26 09:53] nolar opened #46 "Log handling from pods"
Having the silent handlers (spies) on the built-in Kubernetes objects (#30), the next step would be to silently watch over the pod's logs.

An example use-case: monitor the logs for specific lines (by pattern), and extract the KPIs of the process in them, or their status, which can then be put on the Kubernetes object's status:

[code]

**Important:** Perhaps, some filtering by the labels is neede

[2019-04-26 09:59] nolar opened #47 "Code linting on build"
Code should be automatically linted on every push, as part of the building process.

The coding guidelines should be some defaults of pylint, flake8, or both. One exception:

* Line length is 100 chars.

No linting scripts, no CLI options, just the standard CLI tool should already take all this into account — i.e. auto-detectable configs of these tools should be used (same as by the IDE).

[2019-04-26 17:08] nolar commented on #42
Released as 0.10

[2019-04-26 17:08] #42 closed

[2019-04-29 09:44] nolar opened #49 "Automated RBAC generation and verification"
## Background

With `kopf>=0.9`, the operators fail to start in the clusters with RBAC configured according to the docs. Introduced by #38, where `GET` is used on a specific peering object (not just on a list).

The deployment docs were not updated to reflect that. And, even if updated, that would lead to these incidents anyway, as the RBAC yaml file is not auto-validated and not auto-updated in o

[2019-04-29 09:45] nolar commented on #17
The RBAC generation idea is extracted to #49. This issue was originally about the docs only, and it was done some time ago: https://kopf.readthedocs.io/en/stable/deployment/#rbac

[2019-04-29 09:45] #17 closed

[2019-04-30 09:26] nolar opened #51 "Freeze for 2+ operators of the same priority"
## Current Behaviour

When 2+ operators with the same priority run (e.g. default of 0), both are working. Which breaks the purpose of the peering to prevent duplicated side-effects.

## Expected Behaviour

When 2+ operators with the same priority run, with peering configured and functional, only one should be functioning, others should freeze.

The best case would be that all operators issue a war

[2019-04-30 11:44] nolar opened #52 "Test the behaviour in real cluster (minikube)"
As a continuation of #13 (unit-test), add the functional tests with the real cluster, real custom resource, etc.

It is needed to verify that the whole thing actually works altogether against a real Kubernetes API (the unit-tests only test the internals, and against the _assumed_ behaviour of Kubernetes (via mocks)).

Use Minikube in Travis CI — but, perhaps, move the minikube start/stop operators

[2019-05-03 15:05] nolar opened #55 "Admission controllers for validating & mutating the resources"
Add some way to valudate and mutate the resources immediately when they are created, i.e. before the Kubernetes API (kubectl) call finishes.

[code]

If any of the validation handlers failed, the object creation should also fail.

Read more:

* https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

This implies that the operator reacts to the API calls, so the d

[2019-05-10 12:22] nolar opened #56 "Implicitly guess the current object being processed"
When operating on other objects like this:

[code]

The reference to thw `owner=body` is not needed, as the framework has the information on the object being processed, so it can use the current object by default:

[code]

Only in the case when the owner is not the current object (e.g. 2-level ownership hierarchy), the owner can be explicitly specified in kwargs. This is an extremely rare and unus

[2019-05-10 12:29] nolar opened #57 "Implicitly maps kinds<=>plurals"
Currently, the resources' plural names must be used as the only acceptable reference to the resources in the handlers:

[code]

It would be more convenient to refer to the resource the same way as the YAML files do: by their "kind":

[code]

Or, as even more convenient way, as in `kubectl` — by any of their names without group/version references:

[code]

[2019-05-10 14:12] nolar opened #58 "Filter the handled objects by their parent"
For cross-object orchestration, it is needed that the parent object's operator is able to watch and react on the events on the children objects it creates, which are produces by the children objects' main operator — so that the parent operator could update the status of its own served parent objects accordingly.

----

The check can be performed by the `metadata.ownerReferences`, which generally d

[2019-05-10 15:03] nolar opened #59 "Handler for the operator start/stop"
To work properly with different Kubernetes client libraries, such as PyKube/PyKubeNG (#15), the authentication is needed.

One way to do this is on the module import level. Yet, this is wrong from the code structuring point of view.

It would be better to have the explicit event handler for the operator-wide (not just object-wide) events:

[code]

It could be also used to start some background thr

[2019-05-10 15:23] nolar opened #60 "Handler for starting the per-object background threads/coroutines"
In some case, it is desired to have a background thread or async coroutine for every object existing in the cluster (if the operator developer decides so).

Example use-case: polling the external services & APIs when the custom resource represents the jobs of an external system with its `status` field.

It can be done from the `@kopf.on.create()` handler. However, when the operator restarts, and t

[2019-05-12 11:39] nolar commented on #55
Example use-case: Automatically injecting the last-update timestamp when an object is created/updated, to implement the TTL-like cleanup of the stale objects (not updated for few weeks).

* https://twitter.com/try_except_/status/1127484958258487297
* https://twitter.com/try_except_/status/1127494195881619456
* https://twitter.com/nolar/status/1127504800122396673

[2019-05-17 10:40] nolar opened #64 "`metadata.generation` is reported in the diffs on post-creation"
## Expected Behavior

`metadata.generation` field is ignored in the last-seen state and diff calculation.

## Actual Behavior

`metadata.generation` is reported as a normally changed field and triggers the update handlers immediately on creation — in Minikube demos, where the generation is increased on every patch.

[code]

## Specifications

  - Kubernetes version: Minikube + K8s 1.14.1

[code]

[2019-05-25 15:55] #64 closed

[2019-05-26 05:07] GrahamDumpleton opened #74 "Support for Python 3.6?"
What specific dependencies does the code have on Python 3.7?

Supported major Linux OS distributions such as Red Hat Enterprise Linux still ship Python 3.6 as latest version in most recent OS release, and will for some time. Requiring Python 3.7 will prevent organisations using this which need to have a supported operating system and language stack from a vendor.

[2019-05-26 20:19] nolar commented on #74
As far as I remember, there are few function calls available in 3.7 only:

* `contextvars` module — the only tricky part to back-port (kind of thread-local storage, but for asyncio).
* `dataclasses` module — for some new branches (not yet merged; can be worked around).
* `datetime.datetime.fromisoformat()` — can be backported/re-implemented.
* `asyncio.current_task()` & `asyncio.all_tasks()` — ins

[2019-05-27 07:00] GrahamDumpleton opened #75 "Add warning to docs about finalizers."
FYI. You may want to add a warning to the documentation about problems that can occur due to the way in which finalizers are used on a custom CRD. In particular, if the operator is deployed to a namespace and setup in standalone mode to monitor just the same namespace, if the operator is deleted before the custom CRD objects, then when the namespace is deleted, it will get stuck in terminating sta

[2019-05-27 07:07] sebgoa opened #76 "issue running the first example"
I tried the first example and got:

[code]

[2019-05-27 07:28] nolar commented on #76
@sebgoa  Thanks for reporting. Can you please tell which version of Kubernetes you have (output of `kubectl version`)? Do you have the k8s events somehow disabled?

[2019-05-27 07:31] Lawouach opened #77 "Project status"
Hi all,

First of all, thanks for kopf, it's refreshing to see Python can be considered as legitimate as Go in this arena.

I wondered however, what's the status of the project? I see a 0.11 version so I can assume it's still in progress, but I also see a few opened enhanchements that I feel will help the overall reliability of running kopf. So, what I mean is, what is the status of the project in

[2019-05-27 07:37] nolar commented on #75
@GrahamDumpleton Good point, thanks.

There is a related issue: #24 — this might help to design the operators without these blocks. However, the default behaviour will be to add the finalizers (at least when the delete-handlers are present), so the namespace deletion will be blocked.

A doc page on the manual resource un-blocking and deletion  (or maybe a "Troubleshooting" page) seems the only sol

[2019-05-27 07:47] GrahamDumpleton commented on #75
FWIW, in my test case, which I am only really using at this point in training material to explain operators to people, the CRD object is used as the owner for everything created as a result of it being created. Thus when the CRD object is deleted, all those resource objects are in turn deleted.

So for my example I don't need an explicit deletion action in the operator to clean up anything. Thus,

[2019-05-27 07:58] sebgoa commented on #76
It is on GKE: : v1.12.6-gke.11

python 3.7.2

I upgraded the kubernetes client to 9.0.0

[2019-05-27 08:04] nolar commented on #77
@Lawouach Thanks for your feedback ;-)

The project is fully alive, but still in the proof-of-concept stage (0.x versions). What is missing for the 1.0 release is:

* Tests. A lot of tests. #13 — I would say 80% is done (merged & in my fork).
* Silent spy-handlers (#30) and built-in resources support.
* And some less critical issues from [milestone 1.0](https://github.com/zalando-incubator/kopf/mi

[2019-05-27 08:10] nolar commented on #76
@sebgoa Ok, thanks.

Interesting. The 1.12 tests do run normally with Minikube ([link](https://travis-ci.org/zalando-incubator/kopf/jobs/537204454)).

I will try to figure out what is wrong. And will add a `--no-k8s-events` CLI option today, to disable this k8s-logging at all (it is an auxiliary feature, not mandatory).

[2019-05-27 09:05] nolar commented on #75
@GrahamDumpleton I see. Let's roughly estimate that I can add the finalizers' optionality this or next week; but no promises.

As a quick-around, indeed, I already used the manual patching some time ago:

[code]

By the way, the owner references are supported by Kopf with some additional magic, which is usually expected (e.g. labelling & auto-naming of children) — see [Hierarchies](https://kopf.re

[2019-05-27 09:55] GrahamDumpleton commented on #75
Is there a reason trying to apply a patch via a REST API call in the create handler, to delete the finalizer, would have no effect? The same patch can add extra labels, or add extra items to the list of finalizers, but I can't seem to delete the kopf finalizer that was there already. I am ensuring I am using a `merge` patch and not `strategic`, so it should replace what is there for the list.

Sep

[2019-05-27 09:58] GrahamDumpleton commented on #75
In fact, if I delete the operator and then do the same patch with `kubectl patch --type merge`, then it does work, with it being remove, and there was only one state change. So definitely looks like the operator overrides it and adds it back.

[2019-05-27 10:17] sebgoa commented on #76
thanks, I look forward to using kopf

[2019-05-27 12:21] Lawouach commented on #77
Thank you @nolar for the clear and honest answer :)

I think knowing a 1.0 could be released in the next few weeks/months is great by me. It reassures me.
I'll be starting working using kopf more often now and will report as I see problems .

Cheers,

[2019-05-27 17:38] ianmiell opened #79 "required namespace positional argument missing error in walkthrough"
Got to this part of the walkthrough
https://kopf.readthedocs.io/en/stable/walkthrough/creation/

and saw this error in the `kopf ephemeral.py --verbose` output:

[code]

I was in a 'myproject' namespace as system:admin in a minishift 3.11 (sic) cluster - are there problems with running this against 1.11 k8s APIs?

[2019-05-27 21:13] nolar commented on #79
@ianmiell Thanks for reporting.

Indeed, the EphemeralVolumeClaim operator was not tested to work — as it is not finished yet (the critical missing feature is already implemented, but not merged yet — will be released in couple days).

The issue with the kwarg is fixed in #80.

Meanwhile, as a quick work-around, you can replace `namespace` kwarg with `meta`, and use `meta['namespace']` to refer to

[2019-05-28 07:26] ianmiell commented on #79
Thanks @nolar. This looks like a great project, let me know if I can help. I have a little experience in automated testing of k8s clusters.

[2019-05-28 09:13] nolar commented on #79
Fixed with `kopf==0.12`: https://github.com/zalando-incubator/kopf/releases/tag/0.12

[2019-05-28 09:14] #79 closed

[2019-05-28 14:26] nolar commented on #76
Cause identified: GKE>=1.12 has `disable-legacy-endpoints=true` set by default, as per the official docs. As such, `v1beta1` API for events is disabled in GKE, only `v1` is available. Kopf used `v1beta1` API (for the reason of not paying attention to this topic).

Fixed in #81  — it switches to `v1`, and also disables `v1beta1` in our own minikube tests (just in case).

[2019-05-28 15:01] nolar commented on #76
Released as `kopf==0.13`: https://github.com/zalando-incubator/kopf/releases/tag/0.13

@sebgoa Can you please upgrade (`pip install -U kopf`) and try again?

[2019-05-28 15:02] nolar commented on #76
PS: I've tested this in my own GKE before and after the fix. Before, it was failing with the same error. After, it was working as expected.

[2019-05-28 15:24] sebgoa commented on #76
Tested and it works as expected.

Thanks a bunch for the quick fix.

[2019-05-28 15:24] #76 closed

[2019-05-28 15:24] #32 closed

[2019-05-28 19:20] nolar commented on #74
**UPD:** I was thinking on this topic for couple days. And came to the conclusion that it is better to keep Kopf with Python 3.7+, and to not port it to 3.6.

If we convert it to 3.6, all the development should go with the minimum 3.6 compatibility in mind, for years. The "batteries included" philosophy of Python has to be ignored, and the "batteries" should be either re-implemented locally, or de

[2019-05-28 21:45] nolar commented on #75
@GrahamDumpleton Sorry, I probably didn't get the flow that you use.

But yes, the operator adds the finalizer every time it sees a new object: "new" means that there is no Kopf's finalizer. So, if you somehow remove it, and the operator is running at the moment, this change is immediately noticed, triggers the reaction cycle, and the finalizer is re-added as the first step (because Kopf believes

[2019-05-28 22:14] GrahamDumpleton commented on #75
No rush on this.

What I have done is gone back to our training system and modify it so that after having deleted the temporary namespace used for the demo/workshop, that on the next cycle of checking for namespaces that need to be deleted, if it finds that it is in terminating state, it will go through objects still in the namespace and if it sees any with a deletion timestamp, indicating in proc

[2019-05-28 22:17] GrahamDumpleton commented on #74
I think in practice, due to Kubernetes community preferring Go, that an operator framework for Python is going to be a niche. So I think it is probably safe to close this issue as developers for mainstream applications that need an operator are going to use Go anyway. The issue is at least here to provide some context on why only Python 3.7 is supported.

[2019-05-29 08:49] nolar opened #84 "Support for built-in resources (pods, jobs, etc)"
## Expected Behaviour

Kopf should be able to handle the built-in resources, like pods, jobs, pvcs, etc. — Both in the spy-handlers (#30) and in the regular handlers (if decided so).

## Actual Behaviour

Currently, Kopf is only able to serve the custom resources — because it uses the `kubernetes.client.CustomObjectsApi` API (for watching & for patching).

## Suggestions

~Maybe,~ pykube-ng can be

[2019-05-29 08:58] nolar opened #85 "Resource glob-matching"
## Background

In #75, it was highlighted that when the operator is dead, the custom resources cannot be deleted because of the Kopf's finalizer. This causes problems when the namespace is deleted: the operator deployment/pod can be killed before the custom resources are deleted, so there is nothing to remove the finalizers, so the resources are never released for actual deletion.

This can be par

[2019-05-30 02:08] GrahamDumpleton opened #87 "Limit size of exception details in message field of event."
When an exception occurs, the full exception traceback is being added to the `message` field of an event. When this is posted to Kube, it result in an error as it can be too big to store.

[code]

Should perhaps restrict what is used to lowest stack frame and exception description.

[2019-05-30 09:32] nolar commented on #87
@GrahamDumpleton Can you please tell which exception is this? Or share a code snippet to reproduce it.

Technically, a string representation of an exception is used (`f"{exc}"` in `kopf.structs.status. store_failure()`), which is usually just its type+message, not the stacktrace.

[2019-05-31 13:41] rosscdh commented on #77
+1 great work!

[2019-05-31 13:44] rosscdh commented on #49
docs from readthe docs seem to be missing for both role and clusterrole

[code]

[2019-05-31 15:44] nolar commented on #87
Fixed in `kopf==0.14`: https://github.com/zalando-incubator/kopf/releases/tag/0.14

Specifically:

* The event messages are cut to 1024 chars, keeping the start & end of the original string.
* Any errors in event posting are logged, but do not break the operator anymore (as events are auxiliary by their nature).

[2019-05-31 15:44] #87 closed

[2019-05-31 21:12] rosscdh commented on #49
also the events access was missing from both clusterrole and role

[2019-06-01 17:48] trondhindenes opened #92 "kopf disallow importing modules on path"
Given the following app structure:
[code]
[code]

[code]

In other words, in the app dir, I have a regular python module

If I execute the app.py file with regular Python, it just exits (as is expected), without throwing any error, meaning that all the imports work as expected.

However, if I run `pipenv run kopf run app.py`, it throws `ModuleNotFoundError: No module named 'MyMod'`.

## Expected B

[2019-06-01 18:16] trondhindenes commented on #92
as far as I can see, all that's missing is adding `curdir`to sys.path prior to loading.

[2019-06-01 18:46] trondhindenes opened #94 "does kopf support loop-until?"
This isn't a bug.

I'm experimenting with moving some code over from metacontroller (https://metacontroller.app/) to kopf. Since metacontroller is webhook-based, it supports looping (e.g firing request on an interval to the webhook) until some attribute of the created/modified crd object is true (`resyncAfterSeconds`). This has worked really well, as it allows fairly stateless logic even for thing

[2019-06-02 01:01] nolar commented on #92
@trondhindenes Thanks for detailed report.

Kopf uses the standard Python's importing system and does not hack the Python's importing mechanics, as it can affect different projects with different layouts in differently ways — and this importing logic falls out of scope of a Kubernetes operator framework.

Putting the current script's dir (but not the current work dir!) to `sys.path` is one of the

[2019-06-02 01:14] nolar commented on #94
@trondhindenes Let me answer the questions one by one:

_Regarding the blocking code in the handlers:_

If the handlers are regular sync-functions (`def fn()`), then it is okay to run the blocking code. Such functions are always executed in the asyncio executors (read as: thread pools).

If the handlers are async functions (`async def fn()`), then they are executed in the main event loop of Kopf,

[2019-06-02 01:30] nolar commented on #94
@trondhindenes

_Regarding the loop-event._

I'm not sure what exactly you want to achieve, but in our projects we use this trick to wait for some long-running state:

[code]

Any arbitrary exception in the handlers causes a retry — until the handler succeeds. This is not guaranteed for arbitrary exceptions (but it is so by default now). But for `HandlerRetryError`, this is the guaranteed behaviou

[2019-06-02 01:32] nolar commented on #94
@trondhindenes And thanks for your feedback! Let me know if the answers did help. Or ask more if they are not clear.

[2019-06-02 03:23] nolar commented on #49
The events' RBAC is fixed in #89 — the events API was changed from v1beta1 to core v1, but the docs were not in sync with that.

For the `customresourcedefinitions` — thanks for pointing out. Fixed in #95 — both the docs, and the code for the case when cluster-scoped RBAC is not possible.

@rosscdh Speaking of which, what do you mean by _"missing from both clusterroles and role"_? Events are names

[2019-06-02 05:45] rosscdh commented on #49
That's a damned good point.. I'll review the scoping as you pointed out.. I
think at the point that I got it working I was keysmashing.. so most
possible it needs a cleanup...
https://github.com/rosscdh/crd-route53/blob/master/kustomize/base/rbac.yml

Mate I must thank you for your efforts on this project itd made getting
into operators several shades easier thanks to your efforts.. I owe you at
l

[2019-06-02 05:50] rosscdh commented on #49
P.S. I was thinking of using something like marshmallow to validate the
spec. Is this a strategy you would endorse? or do you have something else
in mind?

On Sun, 2 Jun 2019, 07:52 Ross, <sendrossemail@gmail.com> wrote:

[2019-06-02 11:44] nolar commented on #84
_Quick-check results:_

It might look like a good idea to use `CustomObjectsApi()` for the built-in resources too, e.g. `@kopf.on.event('', 'v1', 'pods')` — as an expected semantics. Sadly so, the resulting URLs are different:

Built-in V1 pods URL: `/api/v1/namespaces/default/pods`
Via custom resources: `/apis//v1/namespaces/default/pods`

First of all, the `/api` vs `/apis` is a problem, which l

[2019-06-02 12:21] nolar commented on #15
After #71, almost all Kubernetes-related code is consolidated in one package: `kopf.k8s`, where it is easy to be replaced by any other implementation. The only thing outside of this package is authentication (`kopf.config.login()`).

However, the whole codebase of Kopf assumes that the objects manipulated as dicts. Not even the Kubernetes client's "models". A lot of `.get('metadata', {}).get('some

[2019-06-02 12:56] nolar opened #98 "Filter by arbitrary callback function"
In some cases, it might be needed that only a subset of resources is served and handled. Some of such filtering are suggested in #45 #58, but it can be anything arbitrary.

Without such filtering, the logs will be cluttered by the resource events/causes that are of no interest to the operator.

For this, a callback function can be specified on the handler declaration:

[code]

The callback should

[2019-06-02 13:16] nolar commented on #49
@rosscdh You are welcome!

Do you mean validation for the purpose of this issue? I never used marshmallow, so I can say nothing about its usage. But I see that it is lightweight, does not bring a lot of dependencies (actually, none), which is good — we can try.

If the size or amount of dependencies will become a problem in the future, I will move all non-runtime dependencies into extras, and make

[2019-06-02 16:53] #30 closed

[2019-06-02 18:38] rosscdh commented on #49
I was thinking something like either another decorator or appending a
`spec_validator` to the current decorator
which if present would then validate just pre to being injected into the
create|delete|etc|_fn(spec)
tho problems cloud arise if there are version changes to an existing spec
whos schema then gets updated.. maybe spec versioning?
needs a bit of thought.

Maybe we make another ticket out

[2019-06-02 19:48] nolar commented on #15
So far, a list of issues detected while trying to switch to pykube:

* `pykube.HTTPClient` object is needed on every call, there is no implicit config (as in the official client). Has to be stored globally and reused all over the code.
* `pykube.HTTPClient` has a default timeout of 10s for any connection, including the watching. Can be overridden explicitly with `timeout=None`, but requires a sepa

[2019-06-02 19:51] nolar opened #99 "Measure test coverage"
_Extracted from #13, as it will take some time and experimentation._

* [ ] Purge the experimental data in CodeCov.
* [ ] Re-run the code coverage measurements for historic commits.
* [ ] Configure the automatic code coverage with the unit tests (but not e2e tests!).

[2019-06-02 19:51] nolar opened #100 "Use it? Tell us!"
We are happy to know that you like Kopf, and can apply it in your work.

We will be even more happy if you share with us how you use it: operators created, patterns invented, problems solved, so on. Repos? Posts? Demos? Talks? Presentations? — Everything counts.

In additional to the emotional reward for creating a useful tool, this will help us to decide on the feature roadmap, and to adjust Kopf

[2019-06-02 20:06] dlmiddlecote commented on #24
Hey @nolar

I’d like to have a go at this issue, I should have some time over the coming week.

I have a preliminary question, if that’s ok.
In `kopf.reactor.causation.detect_cause` the finalizers are [used to check whether the event is `NEW` or not](https://github.com/zalando-incubator/kopf/blob/master/kopf/reactor/causation.py#L99-L105). I think by not adding the finalizers sometimes we will bre

[2019-06-02 22:31] rgupta1234 opened #101 "any instructions on how to install on a mac?"
## Expected Behavior
kopf binary installs

## Actual Behavior
sh-3.2# pip install kopf
DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7.
Requirement already satisfied: kopf in /Library/Python/2.7/site-packages (0.0)
sh-3.2# kopf
sh: kopf

[2019-06-03 07:38] trondhindenes commented on #94
awesome, this helps a lot!! Thanks!

[2019-06-03 07:40] trondhindenes commented on #92
yup, definitely not a problem with using either `PYTHONPATH` or `sys.path` hacking in app code - it just feels like it would be more "pythonic" if kopf handled that more gracefully by default. But no biggie.

[2019-06-03 19:31] nolar commented on #101
@rgupta1234 Kopf works on Mac normally (I personally develop it on Mac).

Kopf requires Python >= 3.7 — as specified in setup.py. It will not work with 2.7, as there are no required libraries & syntax constructs (e.g. async/await).

Please, use any Python 3.7+ installation of Python — e.g. via [pyenv](https://github.com/pyenv/pyenv), or [brew](https://brew.sh/)'s [python3](https://formulae.brew.sh

[2019-06-04 07:24] nolar commented on #24
@dlmiddlecote Okay, I will find a way to assign it to you (it didn't work that easily as I thought).

Regarding the solution, there is one important criterion: The finalizers are mandatory if the operator contains the deletion handlers, and they are not optional. The reasons are simple: if the finalizers are absent, then (1) the delete handlers can be called when the object is already gone, thus b

[2019-06-04 07:36] nolar commented on #49
@rosscdh Hm. Sorry, I do not get how it is connected to RBAC validation/generation. Can you show an example how it could look like in the code? Or are you talking about #55 (arbitrary field validation)?

[2019-06-04 11:19] rosscdh commented on #49
Sorry Nolar, I have combined a question with a ticket.

Separate question, how to ensure that the spec provided by the CRD is the expected spec.. is there a prescribed manner?

i.e in Go the specs are validated and contolled by structs, but in kopf? with dynamic python?

Regards
Ross

[2019-06-04 11:55] nolar commented on #55
Taking the discussion from #49: @rosscdh asked:

Generally speaking, Kopf does not do this right now. You can define a basic spec in a CRD, and it will be ensured by K8s itself (without reaching the operators, and without even accepting that object). More sophisticated checks are only possible via the validation hooks, and therefore #55 (it will be difficult because of how these hooks work).

As a

[2019-06-04 11:55] nolar commented on #49
@rosscdh Yes, that is a question for #55. I've moved this discussion there.

[2019-06-04 13:14] rosscdh commented on #55
Perfect thanks for taking the time to explain that (of course the CRD is the specification, I do beg your pardon for not thinking of that).!

[2019-06-04 13:30] nolar commented on #24
@dlmiddlecote Okay, I've assigned it to myself to just have it assigned (not free). Consider this one as assigned to you — until I find a way to do this properly. Seems this feature is absent in GitHub.

[2019-06-05 12:37] #12 closed

[2019-06-05 12:37] #75 closed

[2019-06-05 12:44] #101 closed

[2019-06-08 19:29] smileisak commented on #51
@nolar is this issue is already treated ?

[2019-06-09 12:53] jkroepke commented on #55
Field validation for CRD fields in kubernetes is in beta state.

See https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#validation

[2019-06-10 12:16] nolar commented on #51
@smileisak To my knowledge, no, it is free and waiting.

[2019-06-10 17:32] nolar opened #106 "Automated OLM generation and verification"
Kopf-based operators can benefit from being compatible with the Operator Lifecycle Manager (OLM). Quick intro video: https://youtu.be/nGM2s4-Qr74

For that, Kopf can help by generating the YAML definitions based on the source code of the operator (e.g. utilised resources, operator's docstrings, setup.py if present).

Sample YAML files: https://github.com/operator-framework/operator-sdk-samples/tre

[2019-06-11 17:42] nolar commented on #15
So far so good. The switch to pykube-ng is now fully implemented. The legacy kubernetes official client library is supported _optionally (if installed)_ for auto-authentication, but is not used anywhere else — and I consider removing it completely.

The missing pykube-ng's parts are simulated inside `kopf.k8s.classes` (e.g. `obj.patch()` method), and eventually should move into pykube-ng itself.

[2019-06-12 11:42] nolar opened #107 "Label the sub-templates in the container resources (e.g. pods in jobs)"
## Actual Behavior

When I create a job, and label it with some parent-referencing labels, I expect the labels to be also applied to the pod templates:

[code]

The pod template lacks the labels, only the parent job objects gets it.

One way to work around this is to explicitly label the job and its template:

[code]

## Expected Behavior

However, it would be better to do in one call:

[code]

[2019-06-12 13:54] nolar commented on #94
I suppose the question is answered. If not, feel free to reopen.

[2019-06-12 13:54] #94 closed

[2019-06-12 13:57] nolar commented on #84
This is actually solved in #15 as a side-effect (but needs to be merged first).

[2019-06-13 16:14] #107 closed

[2019-06-14 09:04] #60 closed

[2019-06-14 10:34] dbazhal opened #111 "Blocking operations limit asyncloop performance"
I'm creating this issue just to link it in the PR.

## Expected Behavior
I'm expecting empty handler like
[code]
will process 300 new objects in not more than 15-20 sec.

## Actual Behavior
Instead, it takes about a minute and a half because of next limitations:
(1) k8s.patching.pach_obj is synchronous
(2) k8s.events.post_event is synchronous
(3) aiojobs scheduler limit is set to 10 for worker que

[2019-06-14 11:18] Jc2k opened #112 "Is resume called before create/update?"
Hi!

I have a few questions about resume handlers:

 * Are there any guarantees about call order with `.on.resume` vs update and create?
 * Will resume get called always, or could sometimes update be called instead?
 * Is it possible to know that kopf has finished processing the current set of resumes? As in, has it finished start up and is now watching and (crucially) waiting for events?
 * Is th

[2019-06-14 14:02] nolar opened #113 "Resuming handler will not be retried if it fails"
## Expected Behavior

When the `@kopf.on.resume` handler fails, it should be retried, as any other handlers.

## Actual Behavior

*(Only assumed, not checked):*

If the `@kopf.on.resume` handler fails, it will not be retried.

If the `@kopf.on.resume` handler is not the first one, it will not be executed.

**Cause:** a handler failure (exception) causes the handler status to be stored on `status.k

[2019-06-14 14:20] nolar commented on #112
Neither before, nor after, but _as part_ of create/update.  Usually, the handlers are called in the order they are declared. Resume handlers are then just _mixed-in_ into the list of handlers to call, if this is an operator restart.

The order of handlers can be additionally controlled with the _handlers lifecycles_. It seems, they are not documented (accidentally); but they ARE the public interfa

[2019-06-14 14:20] nolar commented on #112
Both resume+update, or resume+create handlers will be called. However, if they point to the same function, they will be de-duplicated, and that function will be called only once. E.g.:

[code]

The `fn` function will be called only once per event, be that creation or update or operator restart (i.e. object resuming).

[code]

In this case, either fn1+fn2 or fn1+fn3 will be called on operator resta

[2019-06-14 14:20] nolar commented on #112
No, it is not possible at the moment to know when Kopf has finished the initial listing and started watching.

And I'm not sure if this is at all conceptually possible: the handlers are per-object, not per-CRD; the operator could finish the initial listing and start watching, but the resuming handlers can continue being executed (e.g. retried; or just queued and waiting for some objects (of there

[2019-06-14 14:20] nolar commented on #112
The resuming will not happen after deletion or as part of deletion. if the object is gone (or is going to be gone soon), there is nothing to resume/monitor/handle. This can be seen in the [`kopf.reactor.causation`](https://github.com/zalando-incubator/kopf/blob/0.16/kopf/reactor/causation.py#L89-L110) module — the deletion events & states are the first-catchers: the routine does not continue furth

[2019-06-14 14:21] nolar commented on #112
The in-memory caching is probably doable (in theory). I didn't try this yet. Usually, I keep the state on the objects themselves, not in memory (e.g. children's labels referring to the parents, or parent's status fields referring to the children).

If there will be any problems, please let me know.

[2019-06-14 14:31] Jc2k commented on #112
Thanks for the detailed answers!

I don't have a use case for delete+resume, i just wanted to make sure it wasn't a case I had to handle - glad I dont!

[2019-06-15 23:36] mzizzi commented on #100
PoC for managing [DataDog](https://www.datadoghq.com/product/) Monitor resources via kube: https://github.com/mzizzi/datadog_operator

[2019-06-16 03:33] GrahamDumpleton opened #115 "Docs example on owner references missing body argument."
In the docs at:

https://kopf.readthedocs.io/en/latest/walkthrough/deletion/

The example is:

[code]

The call to `kopf.adopt` has `owner=body`, but `body` isn't defined prior to that point.

Presumably, the `body` argument needs to be added to `create_fn` so passed in as separate argument by `kopf`.

[2019-06-16 03:39] GrahamDumpleton opened #116 "Example Deployment should set deployment strategy to Recreate"
Docs at:

https://kopf.readthedocs.io/en/latest/deployment/

have `Deployment` example of:

[code]

This should also set `.spec.strategy.type==Recreate`.

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#recreate-deployment

This is because the default for deployment strategy is rolling update, which means that on a re-deployment triggered by a change to pod template, there ca

[2019-06-16 15:07] mzizzi opened #117 "Event Aggregation"
First off, thanks for a getting this framework together. I've enjoyed hacking around :-)

This might be more of a request for the [python kube client](https://github.com/kubernetes-client/python) as it appears to be lacking event aggregation functionality similar to that [found in the go client](https://github.com/kubernetes/client-go/blob/master/tools/record/events_cache.go).

## Expected Behavio

[2019-06-19 14:54] nolar commented on #117
@mzizzi Do you mean the in-memory event accumulation, aggregation, and then posting only the aggregated events every few seconds/minutes/events?

Or is this also about the event patching with "lastTimestamp", "count", and some other field updates? — Which implies one API request per event anyway, just PATCH rather that POST, but will make `kubectl get events` output shorter.

[2019-06-19 15:11] nolar commented on #116
@GrahamDumpleton Thanks. That should be changed indeed.

Also, #51 can indirectly solve this problem, as these 2 pods running at the same time will freeze each other for a short period of time, so they will not start double-handling the objects (yet there will be a short downtime, which will happen anyway due to pod recreation.)

[2019-06-19 18:22] mzizzi commented on #117
@nolar Good question. I hadn't made the distinction when I originally posted the question.

After reading more into how the go client works.. It uses a combination of rate-limiting, in memory caching, and patching are used. That solves both potential issues that you highlighted:

* Load introduced by many POST/PATCH requests for events
* Load due to excessive amounts of events being stored in kube

[2019-06-19 18:39] dlmiddlecote commented on #45
Hey @nolar,

I’d like to take this one on if possible.

I have a few questions about this:
* You say that labels “can be put into a query to be performed server-side”, is that true? What happens if there are different filters for the same resource on different handlers, would we have to make 2 queries to the Kubernetes API? Im then thinking that this should then be handled in the code itself, do y

[2019-06-20 13:56] nolar commented on #45
@dlmiddlecote

Hm. Probably, that little note was done when only the command-line filtering was in mind, not per-handler — i.e. global. This makes no sense with per-handler filtering, of course. The logic of label-matching must be inside of Kopf then, not in the API queries and server-side.

---

`{'model': None}` meant that the model label should be there, but it does not matter with which value.

[2019-06-20 13:59] nolar commented on #45
(reserved for @dlmiddlecote)

[2019-06-23 20:18] Sakib37 commented on #115
Just add the kwarg "body" in your create handler like
[code]

[2019-06-25 18:42] nolar opened #119 "Status handling"
Currently, status handling uses the `.status` stanza of the resource itself. Soon enough, a new method of working with `/status` sub-resource will be enabled by default: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#subresources

Key differences:

* Status moves from `.status` field to `/status` sub-resource.
* PUT requests to the `/status` su

[2019-06-26 14:16] dlmiddlecote opened #121 "Unexpected File?"
Is the file https://github.com/zalando-incubator/kopf/blob/master/kopf/test_lastseen.py in its expected place? I'd expect it to be underneath the `tests` dir, and not inside `kopf`.

[2019-06-26 14:34] nolar commented on #121
Ouch. Indeed.

[2019-06-28 05:30] Kiddinglife opened #122 "How to periodly poll something?"
Hi folks,
for example,
I need my controller to periodly poll the premetheus server for some metrics so that my contraoller can automatically scale up more pods.
thanks.

[2019-07-01 09:14] #121 closed

[2019-07-01 11:25] nolar commented on #122
@Kiddinglife Sorry, I didn't get the part with replicasets.

But for polling something in Kopf you can use the `@kopf.on.resume` handlers to start a background thread or an asyncio task.

It is better if resuming is used on combination with `@kopf.on.create`: either the object was created while the operator is up (creation), or the operator was started while the object exists (resuming) — it is us

[2019-07-03 08:23] #111 closed

[2019-07-03 09:54] dbazhal opened #129 "last-handled-configuration should not include object status"
## Expected Behavior
Kopf should not take object's status into account when making decision, should it process that object again or not, so there should no last-handled-configuration should not include object's status and not take it into account when making decision if object is changed. Kopf should be triggered only to object's metadata/spec changes.

## Actual Behavior
If a kopf operator is wat

[2019-07-03 17:50] #115 closed

[2019-07-03 17:50] #116 closed

[2019-07-03 18:37] #92 closed

[2019-07-03 18:47] #129 closed

[2019-07-04 10:25] Atoms opened #134 "Sample from docs error: Reason: Unsupported Media Type"
## Expected Behavior
object added and on.create handler is run

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. launch minikube
  2. add crd from docs
  3. launch sample operator from docs
  4. apply object from docs

## Specifications

  - Platform: `minikube`
  - Kubernetes version: *(use `kubectl version`)*
[code]
  - Python version: *(use `python --version`)*
`Python 3.7.3`

[2019-07-04 11:02] nolar commented on #134
@Atoms Thanks for reporting. I could reproduce it locally — will take a look later.

As a quick workaround, please install the Kubernetes client version 9:

[code]

----

The error happens with `kubernetes==10.0.0` only, which was released 03.07.2019 @ ~23:00 (this past night): https://github.com/kubernetes-client/python/releases/tag/v10.0.0

It seems, the error comes from the custom resource patc

[2019-07-04 11:04] Atoms commented on #134
yes, i already tried to downgrade and it works, you know more internals of kopf and how it uses kubernetes client, can you open issue within kubernetes-client, and i think as workaround is there this can be closed as it's not kopf issue.

P.S. just started with kopf

[2019-07-04 11:55] nolar commented on #134
Created https://github.com/kubernetes-client/python/issues/866 with a reproducible example (unrelated to Kopf).

[2019-07-04 13:52] nolar commented on #134
Meanwhile, I've released [kopf==0.17.post1](https://github.com/zalando-incubator/kopf/releases/tag/0.17.post1) hotfix with kubernetes<10.0.0 restriction — just to have it runnable by default, i.e. when using `pip install kopf`.

[2019-07-04 15:10] nolar commented on #134
Found the cause (and added it to the issue on their side, with links):

In 10.0.0, they have changed the content-type from `application/merge-patch+json` (a dict with fields to override) to `application/json-patch+json ` (a list of operations per field, see [wikipedia](https://en.wikipedia.org/wiki/JSON_Patch)).

The data sent by Kopf was a dict as per `application/merge-patch+json`, and it worked

[2019-07-04 16:20] nolar opened #136 "K8s-event logging"
It would be convenient, if all the important log messages are automatically sent to K8s events, same as they are logged to stdout/stderr.

Only the important messages, not the debug messages.

Both Kopf-internal messages (already sent to k8s now), and the operator-produced messages (as logged via the per-object `logger` kwarg).

There should be a way to opt out at least on a per-message level — i.

[2019-07-04 21:41] dlmiddlecote commented on #24
@nolar - should this be closed?

[2019-07-05 08:10] #24 closed

[2019-07-08 13:10] #51 closed

[2019-07-08 13:37] #136 closed

[2019-07-08 22:56] etopeter opened #137 "Can this framework be used to monitor core resources like namespaces?"
## Expected Behavior
I want to handle namespaces events. Can this be done with kopf?

## Actual Behavior
[code]

## Steps to Reproduce the Problem

  1. Create sample code sample.py:
[code]
  2. Run code `kopf run sample.py --verbose`

## Specifications

  - Platform:
  - Kubernetes version: v1.12.6
  - Python version: 3.7.1
  - Python packages installed:
aiohttp==3.5.4
aiojobs==0.2.2
async-timeou

[2019-07-09 08:06] nolar commented on #137
@etopeter Yes and no.

**No:** in the current version `0.18`, only the custom resources are supported. Built-in resources are not supported (mostly those of `apiVersion: v1`; those of newer api-versions with `group/version` syntax should work in theory, never were tested in practice).

**Yes:** With #110 merged (switching to pykube-ng internally), all resources will be supported, including pods an

[2019-07-09 08:27] #99 closed

[2019-07-09 13:11] #15 closed

[2019-07-09 13:11] #84 closed

[2019-07-09 13:11] #137 closed

[2019-07-09 23:00] dlmiddlecote opened #138 "Travis CI fails for contributor PRs"
## Expected Behavior
Build passes if it should, i.e. if all tests pass.

## Actual Behavior
Tests pass but build fails because the coveralls command fails, see [here](https://travis-ci.org/dlmiddlecote/kopf/jobs/556541531).

### Side Note
Tags also build in forks, which could lead to versions of the library being uploaded to pupils.

[2019-07-10 10:24] dbazhal opened #139 "Error on already removed object patch"
## Expected Behavior
When I create and quickly remove object, that's an odd behavior, but I expect that kopf will handle it as non-error.

## Actual Behavior
Insetad, I get errors in log and in error tracker:
[code]
I'm not sure what behavior will be correct in such situation, but maybe passing such situations will be ok?
[code]

## Steps to Reproduce the Problem

  1. Empty handler with enough sl

[2019-07-10 11:08] goern opened #140 "add --disable-certificate-verify command line argument"
## Expected Behavior
Kopf does not validate the SSL certs, so that it will not fail with `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1056)`

## Actual Behavior
SSL certs validation is enforce, and `kopf run` fails with `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl

[2019-07-10 15:16] nolar opened #142 "Slow or hanging process termination"
## Expected Behavior

When an exception happens, or SIGTERM/SIGINT received, the operator must exit immediately or within a short time (e.g. 1s).

## Actual Behavior

In PyCharm, when the process is stopped, it can hang there for long time, up to few minutes. If `default_stream_timeout` is set, the wait time is usually limited to at most that many seconds.

In a terminal, clicking Ctrl+C does not

[2019-07-14 14:21] dlmiddlecote commented on #138
Solution to this is to turn on coveralls support for kopf fork repo.

[2019-07-14 14:21] #138 closed

[2019-07-15 19:38] klarose opened #150 "Reconciling resources"
## Expected Behavior
An important part of kubernetes is the idea of eventual consistency. If a document is applied to the cluster, the state it describes may not take effect immediately, or the cluster may deviate occasionally from it. I want to be able to write operators which take this principle to heart.

In order to do this, I think that we need to be able to add something akin to [reconciliat

[2019-07-16 08:57] nolar commented on #150
@klarose First of all, thanks for your warm words! This keep me motivated and drives the project :-)

Also thanks for the detailed suggestion. This in indeed an important feature to have, and we discussed it from different points in other contexts too.

A very important part of a reconciliation loop is knowing the state of the children. In the current implementation, Kopf only knows the state of t

[2019-07-16 09:04] nolar commented on #139
@dbazhal Thanks for reporting.

Side-notes: it was introduced in #24 — when the finalizers were made optional in case there are no deletion handlers. Now, the k8s-side deletion process does not wait for the operator's "approval" (i.e. removing its finalizers). Kopf should be ready for a sudden disappearance of the individual resources during the handling cycle (especially when the handling is not

[2019-07-17 17:27] amolkavitkar opened #153 "if child is deletd its not recreated automatically"
## Expected Behavior
I have created simple operator using kopf and its has children service created which is a clusterip service using adopt. if this service is deleted it should be recreated automatically

## Actual Behavior
Child service of operator is not recreated automatically

## Steps to Reproduce the Problem

  1. create operator using this tutorial: https://medium.com/swlh/building-a-kube

[2019-07-17 17:54] klarose commented on #150
I think your second suggestion certainly goes a long way to helping out. It's nice to not need to define an explicit task to handle things.

That said, the final idea you mention seems like exactly what I want -- an explicit link between parent and child, so that if the child changes the parent is notified.

In the go operator SDK, the link between 'primary' and 'secondary' types is [explicit](htt

[2019-07-18 10:00] nolar commented on #153
You can use [Kubernetes finalizers](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#finalizers) for that.

[code]

If at least one finalizer exists on the object, k8s will not delete it, but only mark for deletion (by setting `metadata.deletionTimestamp`).

The operator must release its child object from duties somehow, when it decides it is sui

[2019-07-22 12:33] elemental-lf commented on #150
First of all: Thank you for starting `kopf`! I actually started to roll my own solution based on https://github.com/side8/k8s-operator when I thankfully came across this project which already is so much better than anything I would have come up with.  I just wanted to note that my use case would really profit from this idea:

But I also have some external state which I'd like to represent in Kuber

[2019-07-24 08:55] nolar commented on #150
@elemental-lf Thanks.

The current roadmap is:

1. Existing PRs for filtering the events via decorator keywords.
2. Stability (specifically, proper termination). Includes the full async/await inside (aiohttp).
3. Cross-object communication and further handlers/decorators extensions.

The number 1 is waiting in a PR. The number is 2 is done, being prepared for PRs. So, the objects relations are the

[2019-07-24 09:34] nolar commented on #45
Released as [`kopf==0.20`](https://github.com/zalando-incubator/kopf/releases/tag/0.20)

Docs: https://kopf.readthedocs.io/en/latest/handlers/#filtering

[2019-07-24 09:34] #45 closed

[2019-07-26 07:17] embano1 commented on #150
Exactly, that would be very neat!

[2019-07-30 19:51] embano1 commented on #139
Hi, perhaps the issue I'm facing during a delete is related to this one here:

[code]

Note: I am using `@kopf.on.event` raw event handling and switching between event types with:

[code]

This should be OK imho...

[2019-07-30 22:54] jkupferer opened #157 "Use kopf to watch resources in a specific namespace?"
I want to have an operator watch only resources in a specific namespace, something like:

[code]

Is this possible? If not, can this feature be added?

[2019-07-30 23:10] jkupferer opened #158 "Watch resources without update access?"
Custom resources often function as configuration for operators rather than items for the operator to act on. Is it possible with kopf to configure a watch on a resource that the operator does not have access to modify? For example, to watch for configuration changes?

It seems at present this is not possible because kopf always attempts to set the last-handled-configuration annotation.

[2019-07-31 10:00] nolar commented on #158
@jkupferer You can use `@kopf.on.event()` handlers: https://kopf.readthedocs.io/en/latest/handlers/#event-handlers — these are the "silent spy-handlers" by design, and do not store anything on the objects, just react.

---

As an advanced move, Kopf can also be embedded into other apps (**soon**: see #156) — so you can run it in a background thread, while the non-operator-like app runs in the main

[2019-07-31 10:07] nolar commented on #157
@jkupferer There is no such exact feature now, but there are some equivalents:

You can run the whole operator with `--namespace` CLI option, and it will limit itself to that namespace ([brief doc](https://kopf.readthedocs.io/en/latest/scopes/)).

---

On the per-handler level, this probably can be done _soon_ with the new filtering solution (from #123 — available in kopf==0.20), just extended for

[2019-07-31 11:39] jkupferer commented on #157
The `--namespace` option looks like it will address many of the use cases I'm looking at. I do have one use case where the watched namespace(s) are determined at runtime with namespace information fetched from other custom resources. In the current design the operator may not have a cluster role binding that allows it watch all namespaces at a cluster level... so I don't think the filtering soluti

[2019-07-31 11:41] jkupferer commented on #158
@nolar Perfect! I'll try it out. Thank you!

[2019-07-31 15:26] nolar commented on #157
Indeed. This is an interesting use-case. Some thoughts on this:

Kopf does watch-streaming GET requests on the resources, using the global namespace setting. It is unclear how it should behave in case of two handlers with two different namespaces:

[code]

Should it have 2 watch-streams running? Or should it have one cluster-scoped watch-stream, and filtering on arrival (may hit the RBAC permissio

[2019-07-31 16:56] dlmiddlecote commented on #58
Hi @nolar!

I was going to look into this issue if that's okay.

I have a few questions to begin with, hope you can help.

- Where do you expect the `parent` kwarg to be populated from? Given we'll only know [a little bit of information](https://github.com/zalando-incubator/kopf/blob/master/kopf/structs/hierarchies.py#L11-L17) about the parent when we get notified of the child event, do we need to

[2019-08-02 00:19] nolar opened #161 "No immediate reaction on changes/deletion if sleeping for retries"
## Expected Behavior

When a handler function raises an exception, it is scheduled to be retried later (by default, in 60 seconds). Other handlers will be invoked — until the state is reached, when all the remaining handlers are scheduled for later.

When a handler with an exception or a retry is scheduled for later execution, and its operator is sleeping until the time comes, and a new watch-even

[2019-08-02 01:10] nolar commented on #58
@dlmiddlecote  I suggest that we postpone this issue for a while. I drafted few ideas on the cross-object relations & communication ([gist](https://gist.github.com/nolar/8c6233778a30a32fafd7f8d3a55a2cb4); better if read from below). This topic is quite complicated, and "parents" (owners) are not the only type of relations possible.

I'm still trying to crystallise the vision on the cross-object co

[2019-08-02 08:23] nolar commented on #58
@dlmiddlecote Or, alternatively, we can reduce this issue to filtering only, with `parent` kwarg and dynamic status storage excluded from the criteria.

The filtering by existence of `ownerReferences` to a predefined resource kind will be needed anyway, in any approach. And it enriches what was already done in other filtering issues (by labels/annotations).

[2019-08-05 15:27] olivier-mauras opened #164 "kopf can't post events"
## Expected Behavior
Be able to post events either custom of defaults.

## Actual Behavior
[code]

## Steps to Reproduce the Problem
No particular code is actually running
My controller is running with a cluster-admin role in it's own namespace.
[code]
A simple example like this gives the same result:
[code]
Run with: `kopf run --standalone ./example.py `

[code]

## Specifications

  - Platform:

[2019-08-05 17:25] nolar commented on #164
@olivier-mauras Thanks for reporting.

I fought with this issue few times, to no avail.

**Brief summary:** K8s events are namespaced, there are no cluster-scoped events. Also, k8s events can refer to an object via `spec.involvedObject` of type `ObjectReference`. This structure contains `namespace` field, to refer to the involved object's namespace (also, name, uid, etc).

I could not find a way t

[2019-08-06 05:54] olivier-mauras opened #166 "Invalid attribute apiVersion in build_object_reference()"
## Actual Behavior
[code]

## Steps to Reproduce the Problem
[code]
#######
Culprit lies here in `hierarchies.py`
[code]
As described in https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Namespace.md `apiVersion` attribute should be `api_version`.
Replacing line 12 with `api_version` makes indeed the above code work but I'm not sure there's other implication before sending

[2019-08-06 06:16] olivier-mauras commented on #164
@nolar Thanks for your extended reply.
Maybe I should describe my usecase to make things a bit more clear and maybe find an acceptable workaround. I actually don't mind at all the noise of the default events and had already ran kopf in quiet mode :)

Right now my controller is handling namespaces creations/update. For each namespace handled, the controller will create a set of predefined namespace

[2019-08-06 06:30] olivier-mauras opened #167 "Annotations/label filtering on on.delete() handler doesn't seem to work"
## Expected Behavior
With an on.delete() handler filtering on annotations, I expected to retrieve the kopf finalizer only on filtered resources.

## Actual Behavior
All resources handled by the on.delete() handler end up with the kopf finalizer making me believe the filtering either by annotation or label to not work correctly

## Steps to Reproduce the Problem
[code]

Result:
[code]

By my unders

[2019-08-06 07:07] olivier-mauras commented on #164
Answering myself, something along the following that you posted in https://github.com/zalando-incubator/kopf/issues/153 would certainly work well
[code]

[2019-08-06 08:35] olivier-mauras commented on #166
#168

[2019-08-06 08:49] nolar commented on #164
@olivier-mauras Ah, I see your point.

Just to clarify: Kopf is not a K8s client library, and is not going to be such. It only tries to be friendly to all existing K8s client libraries, leaving this choice to the developers.

The k8s-events support in Kopf is rudimentary: only to the extent needed for K8s<->Python integration of per-object logging (i.e. Python's `logging` system posting to `/api/v

[2019-08-06 08:50] nolar commented on #164
@olivier-mauras Regarding the code example, please note, that label-filtering is now possible via the decorator kwargs, so that it will suppress excessive logging for not-matching objects: https://kopf.readthedocs.io/en/latest/handlers/#filtering

[2019-08-06 08:53] olivier-mauras commented on #164
@nolar Thanks for your clarification, as you say what I thought as a feature is more a side effect :)
I just implemented the on.event() sample and it's works well enough in my use case

[2019-08-06 10:26] chilicat opened #169 "Kopf Crashes with "Connection broken: IncompleteRead(0 bytes read)""
## Expected Behavior
Simple handler should not crash

## Actual Behavior
Kopf crashes after a couple of minutes

`

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/urllib3/response.py", line 639, in _update_chunk_length
    self.chunk_left = int(line, 16)
ValueError: invalid literal for int() with base 16: b''

During handling of the above exception, another excep

[2019-08-06 10:46] nolar commented on #169
@chilicat Thanks for reporting.

Can you please make an experiment in your environment: if you put this line on top of your script, does the delayed error happen exactly by that specified time (in seconds)? If you set it to 600 seconds (10 mins), does it still happen at ~5 mins?

[code]

[2019-08-06 12:21] chilicat commented on #169
The process does not crash anymore (~50 minutes, still running)

[2019-08-06 13:45] nolar commented on #169
@chilicat Thanks. So, let it be a workaround for now (despite that `kopf.config...` is undocumented and internal). Please, wrap it with `try-except` — in case this module/class/attribute is renamed/removed in the future.

I saw this issue few times — with sporadic server-side disconnections when `?timeout=...` query arg is not specified. It goes deep into K8s API implementation and Python's intern

[2019-08-06 13:57] chilicat commented on #169
@nolar Sure, no problem. Thanks for the fast feedback.

[2019-08-06 17:04] dlmiddlecote commented on #167
Hey!

I actually contributed in both of these areas, finalizers and filtering by annotations, and I can confirm that this is a bug. The finalizer addition is ignoring the fact that the object doesn't trigger any handlers.

I've added a PR for this (will add tests shortly), but I guess it's up to the maintainer @nolar to confirm + merge this.

Sorry for the bother!
Dan.

[2019-08-07 08:24] psycho-ir opened #172 "add --version command to print the current version of kopf"
## Expected Behavior
I think it would be helpful to have command like `--version` to print out the current version of kopf, specially when one is using different virtual environments.

[2019-08-07 10:10] nolar commented on #167
@dlmiddlecote The bug is confirmed by @psycho-ir. I would appreciate if you fix it (and add the unit-tests for this case), while I'm trying to clean up a pile of unrelated PRs and branches on my side.

[2019-08-07 14:37] olivier-mauras commented on #166
Oh apparently it's not the API that is inconsistent, but the body returned by on.xxx() handlers of kopf.

Here's an example:
body returned by on.resume/create
[code]
body returned directly by the API with a read_namespace call:
[code]

[2019-08-07 15:40] psycho-ir commented on #166
I think that's because of the difference naming in `pykube`(camelCase) has from `kubernetes-client`(snake_case).

so probably if you use the `pykube-ng` instead of `kubernetes-client` this issue should be gone, just as an interim solution.

we need to find a proper way probably to handle these naming mismatches @nolar.

[2019-08-07 16:26] nolar commented on #166
Kopf is agnostic of the clients used by the developers (kind of). The only "canonical" reference is the Kubernetes API. The API docs [says the field name is `apiVersion`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#objectreference-v1-core).

This is how Kopf gets it from the API, and passes it to the handlers. And this is how Kopf expects it from the handlers to be passed

[2019-08-07 17:09] olivier-mauras commented on #166
@nolar Thanks for the reply.
I'm actually super fine to fix that in my code directly. I guess we can close the PR

[2019-08-07 17:43] #166 closed

[2019-08-08 14:00] #172 closed

[2019-08-08 15:01] nolar commented on #167
The fix is pre-released as [kopf==0.21rc3](https://github.com/zalando-incubator/kopf/releases/tag/0.21rc3).

But beware of other massive changes in rc1+rc2+rc3 combined (see [Releases](https://github.com/zalando-incubator/kopf/releases)). Other things can break. We will test it in real action before releasing 0.21.

[2019-08-08 16:38] psycho-ir opened #177 "Add more validation for kopf run command"
## Expected Behavior
The `kopf run` command should return reasonable error message if:

- no path is defined
- 1 or more invalid module
- 1 or more invalid path

[2019-08-08 16:38] smileisak opened #178 "Kopf crashes with `concurrent.futures._base.TimeoutError`"
## Expected Behavior

No craches related to the kopf framework.

## Actual Behavior

When developping the kopf based operator in my local machine i'm using personal kubeconfig to authenticate againt Kubernetes API. It works fine no problem.

But when deploying the operator in a GKE cluster, it craches after generating events (create or delete) in my CRD.

## Specifications

  - Platform: GKE
  - K

[2019-08-08 16:53] nolar commented on #178
The error in the stack trace happens because the coroutine (`asyncio.sleep()`) is being cancelled. The question is why is it being cancelled at all, and by whom. However, there is nothing in the logs about that.

@smileisak  Can you please try running with `kopf==0.21rc3` (or `0.21rc2`, `0.21rc1` — pre-releases) and with `--verbose` CLI option? These versions include better termination routines wi

[2019-08-08 17:00] nolar commented on #178
@smileisak And a couple of other assumptions:

What is the approximate amount of objects/events happening at a time? 10s? 100s? 1000s?

Are there any blocking or synchronous handlers executing longer than 5s? Does playing with `kopf.config.WorkersConfig.worker_idle_timeout` (setting it to 1 or 10 or 60 (default is 5)) affect the stability? You can set it immediately after `import kopf`, on the mod

[2019-08-08 18:17] smileisak commented on #178
@nolar i have the same output using the `kopf==0.21rc3` and `kopf.config.WorkersConfig.worker_idle_timeout = 60`.

[code]

The operator aims to provision a namespaced multi-tenant environments inside 2 clusters:

1. dev cluster
1. prod cluster

and it communicate with google api to create service accounts, roles and iam bindings

i'm using `subprocess.call` to run helm commands.

Maybe a schema is

[2019-08-09 08:49] nolar commented on #178
@smileisak What I see from these logs, is that it is not about sleeping. The cancellation happens at any random places, i.e. when the task is cancelled from outside.

The task is cancelled in these cases only: Any single one of the "core" tasks (peering, k8s-event posting, "should_stop" waiter, and watching for every resource kind) exits normally or by an exception.

The "should_stop" waiter exits

[2019-08-09 09:54] smileisak commented on #178
@nolar i figured out why this sucks. Since i'm deploying the operator with helm, when i created the helm chart using `helm create <chart-name>`, it adds default `livenessProbe` and `readinessProbe` so kubernetes will kill the pod when readinessProbe is not satisfied.

[code]

Now after deleting this probes everything works fine !
[code]

So the bug is not related to `kopf`. Anyway, thank you again

[2019-08-09 10:09] nolar commented on #178
@smileisak I see. Thanks for clarifying. I will add extra log messages on the reasons of exiting (INFO or WARN level). Specifically, it should be clearly visible that it exits on the SIGTERM signal.

[2019-08-10 11:25] smileisak opened #180 "KeyError: 'namespace' when downgrade to stable version 0.20 from 0.21rc3"
## Actual Behavior

When downgrading `kopf` version from `0.21rc` to `0.20` i've got an error when creating, updating and deleting objects.

## Specifications

  - Platform: GCP GKE
  - Kubernetes version: `v1.13.6-gke.13`
  - Python version: `3.7.4`
  - Python packages installed: *(use `pip freeze --all`)*

[code]

---
## Error:

[code]

[2019-08-13 09:28] nolar opened #181 "Failed builds when Coveralls is down for maintenance"
## Expected Behavior

The builds ignore the Coveralls and other utilities' failures.

## Actual Behavior

The builds fail if Coveralls is down for maintenance:

https://travis-ci.org/zalando-incubator/kopf/jobs/571226118

![image](https://user-images.githubusercontent.com/544296/62932173-f054c000-bdbf-11e9-9f08-d3b7d5ac0437.png)

[2019-08-13 09:37] nolar commented on #180
@smileisak Is it for cluster-scoped objects or namespaced objects? Did it actually happen after the downgrade, or just in general (no matter the previously installed versions)?

Maybe a duplicate of #164. Should be solved in #165 — which is now available as [0.21rc1](https://github.com/zalando-incubator/kopf/releases/tag/0.21rc1) the earliest.

[2019-08-14 13:22] jkupferer commented on #157
I would think it should have two separate watch streams in this example. Thank you for your exploration on this.

[2019-08-16 23:51] jkupferer opened #183 "Handlers receive empty dict for status when status is not set"
## Expected Behavior

If a resource has no status then any handler should receive `None` for `status` and the `body` argument to the handler should have no key `status`.

## Actual Behavior

Handlers that are processing resources with no status receive `status` as an empty dictionary and the `body` has an empty dictionary for `status`.

This causes problems when calculating how to patch a resource

[2019-08-21 09:41] smileisak commented on #180
@nolar is a cluster-scoped object. In the begining i've created a namespaced CRD that i have changed it to cluster-scoped. Now it works only when using version `0.21rc`.

[2019-08-21 20:04] cliffburdick opened #184 "Embedded Example Broken"
## Expected Behavior
Example working

## Actual Behavior
Wrong syntax

## Steps to Reproduce the Problem

1. Run the embedded example here:
https://kopf.readthedocs.io/en/latest/embedding/

2. You will see ```TypeError: __init__() got an unexpected keyword argument 'target_fn'``` since the actual parameter is "target".

3. Once that's fixed, if you make ```def main``` into ```if __name__ == '__mai

[2019-08-27 07:13] viruzzo commented on #100
Bridge for automatically syncing DNS entries for ingresses and services into [MAAS](https://maas.io/) through its API; hacky, but trying to collate a number of different systems together.

[2019-08-27 18:42] nolar commented on #184
@cliffburdick Regarding Python>=3.7 requirement: Kopf will not function with 3.6 anyway, as it uses some 3.7+ features and modules actively in its core (e.g. `contextvars`, but there are others). See #74 on reasoning.

[2019-09-05 10:31] jcortejoso opened #186 "Question: How to reconcile precreated resources after an error"
This is not a bug

## Expected Behavior
We have defined a CRD that triggers a complete workflow where different k8s resources are created (configmaps, jobs (and wait until they finish), etc...), using k8s api client. When some error occurs in the middle of this workflow (for example it could create the configmaps but the job execution fails), I would like to retry from the point it failed but not

[2019-09-15 09:30] nolar commented on #186
@jcortejoso We solve this problem by splitting the workflow to multiple handlers. Every handler will be retried until success or permanent failure separately. The handler can exchange the produced object ids with the status.

For example:

[code]

Please note that the handlers' results will be stored in the object's status stenza, with the key equal to the handler id, which, by default, is the fun

[2019-09-16 08:23] jcortejoso commented on #186
Awesome @nolar, thanks for the help.

[2019-09-16 17:31] jicowan opened #187 "Running the Tutorial against an EKS cluster"
## Expected Behavior
I would like to run the kopf tutorial on an EKS cluster instead of minikube.

## Actual Behavior
When I run `kopf run <file>.py --verbose` I get an unauthorized error:
`pykube.exceptions.HTTPError: customresourcedefinitions.apiextensions.k8s.io "kopfpeerings.zalando.org" is forbidden: User "system:anonymous" cannot get resource "customresourcedefinitions" in API group "apiexte

[2019-09-18 09:42] thilp opened #188 "Setting kopf.EventsConfig.events_loglevel doesn't prevent Type=Normal Events to be posted"
Kopf is creating way more Event objects than my Kubernetes cluster's administrators would like, potentially leading to etcd performance problems.

This is slightly related to https://github.com/zalando-incubator/kopf/issues/117, as merging similar events would probably help. But in my case, I simply would like to not have any Events of `Type=Normal` published. The Kopf documentation ([_Configure l

[2019-09-23 08:08] zdraganov opened #189 "Tutorial: Please suggest dynamic volume provisioner, supporting resize for minikube"
Can you please suggest minikube's compatiable dynamic volume provisioner for running the tutorial locally?

I've tried rancher/local-path-storage and NFS, but both do not support resize.

You can add the suggestion in the installation section (where currently is said how to install minikube).

[2019-09-25 20:46] nolar opened #190 "Field handlers are not triggered with overly specific fields"
## Expected Behavior

The field handler should handle all the relevant field changes, no matter what else is changed, or from which original state.

## Actual Behavior

The handler is only triggered when a deeply nested specific field is changed/added/removed, but not when the whole structure that contains it is added/changed/removed.

## Steps to reproduce

[code]

Example original object (note t

[2019-09-26 10:34] #190 closed

[2019-09-26 10:56] #188 closed

[2019-09-26 11:00] nolar commented on #188
@thilp Can you please try it with [`kopf==0.22rc1`](https://github.com/zalando-incubator/kopf/releases/tag/0.22rc1)? Should be fixed now (I've tested with one of the examples.)

[2019-09-26 12:24] thilp commented on #188
Thank you, it works perfectly now! Please keep making Kopf amazing.

[2019-09-26 14:22] nolar commented on #181
On the other hand, it is better to allow the tests to be broken for a day or two (while being able to merge the urgent fixes forcely), than to lose the coverage information from the builds silently over the long period of time until accidentally noticed (coverage is not checked regularly) — in case the CLI tool is broken in the builds.

[2019-09-26 14:22] #181 closed

[2019-09-26 14:24] nolar commented on #184
@cliffburdick The `target=` is fixed now in the docs. And a real runnable example is added. So, I assume, this issue is done. If not, feel free to re-open.

[2019-09-26 14:24] #184 closed

[2019-09-26 14:25] #186 closed

[2019-09-26 14:27] nolar commented on #167
It is now in [`kopf==0.21`](https://github.com/zalando-incubator/kopf/releases/tag/0.21). If the issue reappears, feel free to re-open.

[2019-09-26 14:27] #167 closed

[2019-09-26 14:30] nolar commented on #164
The changes are now in [`kopf==0.21`](https://github.com/zalando-incubator/kopf/releases/tag/0.21). If the issue reappears, feel free to re-open.

[2019-09-26 14:30] #164 closed

[2019-09-26 14:34] nolar commented on #180
I assume that the issue is solved with 0.21 released (since 0.21rc1 actually). If it reappears, feel free to re-open or just write a message here.

[2019-09-26 14:34] #180 closed

[2019-09-26 16:49] nolar commented on #187
Kopf uses `pykube-ng` (which is a fork of `pykube`). Beside token-bearer, it also supports client certificate, username-password, and some other auth methods. At least, it is [in the
code](https://github.com/hjacobs/pykube/blob/19.9.2/pykube/http.py#L128-L134).

I will try to reproduce the error locally for EKS. Maybe @hjacobs can help here too.

---

Anyway, for the record, the mid-term plans for

[2019-09-27 07:32] hjacobs commented on #187
There is a simple workaround: just use `kubectl proxy` locally and point Kopf/Pykube to the localhost proxy port, see https://kube-web-view.readthedocs.io/en/latest/setup.html#local-usage as an example.

[2019-10-01 17:55] nolar opened #194 "Add type-hints all over the code"
## Motivation

For the convenience of the external contributors, especially the new starters, it would be nice to have type hints for all function/classes signatures, so that at every place in the codebase it is clear what is what, which methods it has, and what can be done with it.

This is especially important since there is a terminology conflict both within the framework (derived from the K8s

[2019-10-02 23:29] jdamata commented on #187
@hjacobs I tried this approach but can't seem to get get it working:

dockerfile:
[code]

code
[code]

commands
[code]

[2019-10-04 21:05] jicowan commented on #187
Thanks @hjacobs.  I added a section to my code so I could test it locally instead of running in the cluster.

[2019-10-05 15:12] nolar commented on #183
Presumably solved with #198 — now, for `spec`, `status`, and `meta` kwargs, a lazy dict resolver is passed — which renders, reprs, and behaves as these stenzas were dicts, but without actually adding them to the `body` object via `body.setdefault()`. Therefore, those who use the `body` kwarg for the objects without these stenzas, will not see them added implicitly.

Tested locally on a sample oper

[2019-10-06 19:14] jaceksan commented on #169
I am experiencing the same issue with my PoC of operator for Vertica cluster DB.
Luckily the workaround works for me as well.
Subscribing.

[2019-10-08 06:52] jaceksan commented on #169
@nolar while playing with my operator, the error started to occur more and more often, it is almost impossible to continue developing it.
Unfortunately the workaround stopped working.
Is delivery of the replacement with aiohttp already planned?
Is there any other way, how to workaround the issue?

[2019-10-08 10:14] #178 closed

[2019-10-08 12:18] #56 closed

[2019-10-09 09:33] amolkavitkar opened #204 "Opearator handler shows connection rest by peer or sometimes just hangs and doesn't respond"
## Expected Behavior
The pod should respond immediately

## Actual Behavior
- When operator pod is long standing, and if we send and create request for custom resource it just hangs and doesn't respond, we have to restart pod then it comes back alive

- Connection reset by peer in middle of creating resources

## Steps to Reproduce the Problem

  1. Create an operator pod and keep it long running

[2019-10-15 16:37] nolar commented on #204
@amolkavitkar  Sorry for the delayed answer.

First of all, I see Python 3.5.2 mentioned. Kopf uses some features of Python 3.7, which did not exist earlier (such as `contextvars`, but also few more) — so, in theory, it cannot run on 3.5.2 (I didn't try though). Are you sure this is the right version of Python?

Second, can you please provide the Kopf version used, and a sample code with this issu

[2019-10-19 06:20] sepulworld opened #206 "Odd RBAC issues"
## Expected Behavior

I have been developing a new operator on k8s 1.15.4 (server) I don't seem to have issues (testing from local Docker for Mac).

[code]

## Actual Behavior

However, deploying same yaml to our dev cluster running v1.14.6 I run into the following error which appears to be RBAC related.
[code]

## Steps to Reproduce the Problem

Apply on Docker for Mac (k8s 1.15.4 and it works)
[

[2019-10-19 16:12] sepulworld commented on #206
I was able to apply the Yaml to Docker for Mac running k8s 1.14.3 and app started fine as well. Any good debugging tips for perhaps turning in audit logs? I'm presently not seeing any errors in the k8s api server logs.

[2019-10-19 18:21] sepulworld commented on #206
I think I figured it out

Needed to change the watching rule to match the resource name properly... changed to:
[code]
Works now. By the way, love the project. Much more enjoyable to use than kubebuilder!

[2019-10-19 18:21] #206 closed

[2019-10-22 02:27] dozzman commented on #204
We've also been having the same problem with our deployments, using kopf v0.20, although we are not experiencing any exceptions or dropped connections. In our case the pod simply stops receiving updates from the kubernetes API: Nothing is sent from the kubernetes API when a custom resource is created, or updated; and no additional logs are printed in the logs.

Upon further investigation we've dis

[2019-10-22 08:48] PythonLinks opened #207 "Kopf Lightning Talk Needed"
I am very happy to see that Sergey will be doing a talk on Kopf at KubeCon North America.
https://kccncna19.sched.com/event/UaXj/developing-operators-with-the-kubernetes-operator-pythonic-framework-kopf-sergey-vasilyev-zalando-se

This is a very important technology for the Python Community.  It will be great to have a video of the technical talk.   Of course most people do not want to watch a hal

[2019-10-23 17:05] nolar opened #212 "Stabilise the time-based tests with asyncio sleeps/timeouts"
## Expected Behavior

The tests with timing use the explicit hard-coded time shifts, and do not fail based of luck or lack of luck.

## Actual Behavior

The tests with timing fail randomly since the execution duration varies on a case by case basis.

Example:

* https://travis-ci.org/zalando-incubator/kopf/jobs/593947272#L1428

## Notes

The tests with timings currently use minimised sleep/wait du

[2019-10-24 12:02] e0ne opened #214 "Sub-handlers in a resume handlers are executed not in parallel"
## Expected Behavior
Sub-handlers in a 'resume' event should be executed in parallel.

## Actual Behavior
I've got one function both for create/update and resume events handling. create/update sub-handlers work in parallel without any issues. The same code for a resume event handler is executed one-by-one.

## Steps to Reproduce the Problem

  1. I've got some handlers like:
[code]
  2. I use CRD

[2019-10-27 22:48] Dmitry1987 opened #215 "error about 'pykube.KubeConfig' that doesn't exist o.O"
kopf fails always on this line:

https://github.com/zalando-incubator/kopf/blob/e1c995720a7b4be584a948ca1513397f8a89fd5f/kopf/clients/auth.py#L11

when I follow the documentation tutorial (from here https://kopf.readthedocs.io/en/latest/walkthrough/starting/), and then add the EKS workaround (the `kopf.clients.auth.get_pykube_cfg = my_auth_cfg` thingy to override with my .kube/config content)  the

[2019-10-28 23:23] Dmitry1987 commented on #187
I wonder if it's a similar issue, I also run on EKS but I created operator in the cluster as a pod, so not running from local machine. I get some forbidden error, but I just followed the official example :(

Any idea what is missing? Maybe I need some custom RBAC to assign this pod?
The kopf pod (main.py) crashes with these:

[code]

[2019-10-30 22:31] nolar commented on #215
@Dmitry1987 It is hard to say without seeing the project.

May it be so that the is an arbitrary `pykube.py` file/script in the root project folder or in the current directory?

Can you please execute this?

[code]

Does this error happen without the function monkey-patching?

[2019-10-30 22:37] nolar commented on #187
_A little informational update:_

A normal non-hacky solution is coming soon. The work-in-progress code is already functional in my own fork, the examples are runnable, though there is no test coverage yet, and it is still with some WIP garbage.

You can preview it in my branch in this doc: https://github.com/nolar/kopf/blob/authentication/docs/authentication.rst, and these two login implementatio

[2019-10-30 22:44] Dmitry1987 commented on #215
Weird, it says the same:
[code]
No there's no pykube.py, but I installed first the old pykube, then deleted it when I found the pykube-ng, can you please share the pip freeze of a working configuration?  So I'll change my versions if they're not good.

Mine is `pykube-ng==19.10.0` and
[code]

No it doesn't happen unless I try to monkey-patch the auth.  When I comment out the auth patch, and run in

[2019-10-30 22:45] Dmitry1987 commented on #215
For now I build a docker image, and apply it to the operator in K8s, that way working with it. It's okay no big deal, but could be useful to figure out the authorization from local machine.

[2019-10-30 23:12] nolar commented on #214
Hm. That is interesting. @e0ne Can you please describe ho do you check that the handlers are executed in parallel?

The handlers for one single object are never executed in parallel, they are always sequential by design. More on that, it is not possible that the creation & update events happen at the same time (for update to happen, the object must be created already).

Multiple different objects

[2019-10-30 23:21] nolar commented on #215
@Dmitry1987

I see `None` was printed. That was totally unexpected.

Nevertheless, this explanation with just-pykube installed would explain it. When two libraries provide the same packages/modules, this never ends well in Python. Most likely, those are the remains of the previous library overwritten by a new library.

The easiest way is to just recreate the virtualenv from scratch, with only pyku

[2019-10-30 23:56] jicowan commented on #187
That's great news.  Thanks for the update!

[2019-10-31 00:23] Dmitry1987 commented on #187
@nolar it will be merged into this official kopf repo?  good job and thanks for working on this 👍 I'm struggling with local development because of authentication issues.

[2019-10-31 00:25] Dmitry1987 commented on #215
Got it, I'll try a clean virtualenv, thanks!

[2019-11-01 06:37] KevinLinGit opened #218 "ubuntu 18.04 kopf: command not found"
## Expected Behavior
kopf --help

## Actual Behavior
bash: kopf: command not found

## Steps to Reproduce the Problem
1. apt install -y python3.7 \
    python3-pip \
    kubectl
2. pip3 install kopf

## Specifications

  - Platform: ubuntu:18.04(docker image）
  - Kubernetes version:
    Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd755faf07169599a625f

[2019-11-04 01:01] #218 closed

[2019-11-05 22:36] damc-dev opened #219 "kopf fails to run on Windows"
## Expected Behavior
kopf should run example

## Actual Behavior
Fails with NotImplementedError from asyncio
[code]

## Steps to Reproduce the Problem

  1. Follow sample problem steps https://kopf.readthedocs.io/en/latest/walkthrough/problem/
  2. Create operator stub out create function in ephermal.py
[code]
  3. execute command `kopf run ephemeral.py --verbose`

## Specifications

  - Platform:

[2019-11-05 22:39] damc-dev commented on #219
It appears that the add_signal_handler method is not implemented for Windows  https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.add_signal_handler

A potential workaround is to just catch the NotImplementedError to handle the case of Windows.

I will work on putting together a PR.

[2019-11-07 10:12] #52 closed

[2019-11-07 10:14] #77 closed

[2019-11-07 10:14] #215 closed

[2019-11-07 10:15] #194 closed

[2019-11-07 10:16] #161 closed

[2019-11-07 10:29] #139 closed

[2019-11-08 11:33] nolar commented on #134
So far, the issue was fixed with `kubernetes>=10.0.1` some time ago.

[2019-11-08 11:33] #134 closed

[2019-11-11 19:08] pshchelo opened #223 "Resume events keep firing"
## Expected Behavior
resume event is handled only once on actual operator start

## Actual Behavior
resume event keeps firing at regular intervals

## Steps to Reproduce the Problem

Using kopf/master and the following bare-minimal operator handling standard kopfexample resource:
[code]
and creating a bare-minimal kopfexample:
[code]
and watching the logs I see that resume event is keeping firing

[2019-11-11 19:09] pshchelo commented on #223
I believe this has to do with 'initial' resource listing being done in 'streaming_watch' method.
Will push a PR soon.

[2019-11-12 09:45] nolar commented on #223
Thanks for reporting.

This issue is solved in two look-ahead branches (with tests):

* https://github.com/nolar/kopf/compare/aiohttp-2...nolar:continuous-watching
* https://github.com/nolar/kopf/compare/aiohttp-2...nolar:no-resumes-repeated

One is directly related to the suggested PR with proper usage of resourceVersion as long as possible (until "410 Gone").

Another one solves this problem com

[2019-11-12 10:56] #16 closed

[2019-11-13 14:07] #18 closed

[2019-11-13 17:05] nolar commented on #140
To achieve the desired goal of ignoring the SSL certificate validity, please use `@kopf.on.login()` handlers to produce a `kopf.ConnectionInfo(..., verify=False, ...)` instance.

To make it more simple, [`kopf.login_via_pykube()` and `kopf.login_via_client()`](https://kopf.readthedocs.io/en/latest/authentication/#piggybacking) can be used inside of the handler instead of own config parsing, of whi

[2019-11-13 17:05] #140 closed

[2019-11-13 17:09] nolar commented on #223
The mentioned branches are merged and pre-released as `kopf==0.23rc1`. Will be normally released as `kopf==0.23` in few days since now (after some live testing).

Beware: it also includes massive refactoring and internal changes, which can break things (though should not). See the [Kopf 0.23rc1 Release Notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1).

If the issue reappears

[2019-11-13 17:09] #223 closed

[2019-11-13 17:10] nolar commented on #219
Merged and pre-released as `kopf==0.23rc1`. Will be normally released as 0.23 in few days since now. See the [Kopf 0.23rc1 Release Notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1).

[2019-11-13 17:10] #219 closed

[2019-11-13 17:27] nolar commented on #204
I also observed this strange behaviour once (accidentally) — when the operator didn't see the custom resource created. Surprisingly, it saw other resources and reacted to them. But I couldn't catch and reproduce this situation after the restart.

Meanwhile, there is a new pre-release: `kopf==0.23rc1` (0.23 will be released in couple days if the live testing goes well).

Among [many other changes](

[2019-11-13 17:34] nolar commented on #214
With `kopf>=0.23rc1` (see the [release notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1)), the on-resume handlers are fixed in few aspects:

* There can be more than one on-resume handler (previously only the first one was executed).
* They can go after the on-create/on-update handlers (previous worked only if they were the first in row).
* Arbitrary or temporary errors in the

[2019-11-13 17:34] #214 closed

[2019-11-13 17:38] nolar commented on #187
@jicowan @Dmitry1987 The custom authentication methods were merged and released as `kopf==0.23rc1` (see the [release notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1) — there are many other changes). If the live testing goes well, it will be released as 0.23 in few days.

The documentation for custom authentication methods is here: https://kopf.readthedocs.io/en/latest/authent

[2019-11-13 17:40] nolar commented on #183
Pre-released as `kopf>=0.23rc1`.

I assume the issue is fixed. If not, feel free to re-open the issue or at least to add a comment.

And thank you for your feedback! 😄

[2019-11-13 17:40] #183 closed

[2019-11-13 17:44] nolar commented on #169
`kopf==0.23rc1` is now pre-released. It is now fully aiohttp-based, and contains no synchronous API calls. Which means, the whole I/O machinery is changed. Which means, the described issue is either completely gone, or will look differently.

@chilicat @jaceksan Please, give this release candidate a try — is the reported issue gone (with a workaround removed temporarily)? I could not reproduce it

[2019-11-13 17:46] nolar commented on #142
Finally solved with `kopf==0.23rc1` ([release notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1)) and full switch to aiohttp (#227). The operator now terminates almost instantly.

[2019-11-13 17:46] #142 closed

[2019-11-13 17:47] nolar commented on #113
Solved with [`kopf==0.23rc1`](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1). See #230 for the details of the fixed on-resume handlers behaviour.

[2019-11-13 17:47] #113 closed

[2019-11-13 18:07] nolar commented on #59
Added in `kopf==0.23rc1` (see the [release notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1)). Also, custom authentication methods and `@kopf.on.login()` is added there.

Documentation:

* https://kopf.readthedocs.io/en/latest/handlers/#startup-handlers
* https://kopf.readthedocs.io/en/latest/handlers/#cleanup-handlers
* https://kopf.readthedocs.io/en/latest/authentication/

E

[2019-11-13 18:07] #59 closed

[2019-11-13 18:17] nolar commented on #112
`kopf==0.23rc1` was pre-released (see the [release notes](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc1)). It fixes a lot of things with the on-resume handlers in #230:

* There can be more than one on-resume handler (previously only the first one was executed).
* They can go after the on-create/on-update handlers (previous worked only if they were the first in row).
* Arbitrary o

[2019-11-13 19:04] moduspwnens opened #231 "How to force exit?"
I'm using kopf for a Kubernetes controller project and one of the things I'm expecting it to do is exit with a non-zero exit code if certain conditions are met. This will cause the pod to get restarted and another process will resolve the condition.

Normally I'd do this with `sys.exit(1)` or `raise SystemExit`, but those don't seem to work. I'm not sure what state it gets in, but it doesn't exit.

[2019-11-14 09:10] nolar commented on #231
@moduspwnens Can you please clarify which version of Kopf do you use? And how do you check that it does not exit? I.e., does it freeze on exit with no activities happening, or it says they was a `SystemExit` exception, and silences it silently?

[2019-11-14 09:13] logicfox opened #232 "Kopf stops receiving namespace events"
## Expected Behavior
Kopf should actively receive all namespace events.

[code]

## Actual Behavior
Kopf receives events for a while and then stops receiving events. Neither `create`, `update`and `delete` events handlers are triggered nor do the events show up in the raw `event` handler.

## Steps to Reproduce the Problem

  1. Set up kopf to listen to Namespace events (as shown above)
  2. Log a

[2019-11-14 09:32] nolar commented on #232
@logicfox Can you please add the Kopf's version too? `pip freeze | grep kopf` or `kopf --version`

[2019-11-14 09:53] logicfox commented on #232
Sure
[code]

[2019-11-14 11:28] nolar commented on #232
Maybe a duplicate of #204 #142 (not certain though).

@logicfox Can you please try it with `kopf>=0.23rc2`? Specifically, `kopf==0.23rc1` switches all the I/O internally to asyncio+aiohttp (#227). This already solved some issues with the synchronous sockets freezing in some cases, and maybe solves all the other issues with similar symptoms.

Please, be aware of the massive changes in this RC (see

[2019-11-14 11:34] nolar commented on #112
Decide to go both ways (#233): Skip the on-resume handlers normally on deletions. But make it possible to mark them as deletion-safe (on the developer's responsibility).

[2019-11-14 11:42] Jc2k commented on #112
Nice! Thanks for the update.

One of the reasons i asked about this behaviour is because i wanted to construct a cache of the current state in memory in my operator. I noticed you are now doing this internally for kopf. Is that accessible from operator code?

[2019-11-14 12:49] nolar commented on #112
@Jc2k It was made internal only for beginning (as part of this massive refactoring release).

It is relatively easy now to add an extra field to the `ResourceMemory` class with arbitrary user fields, with the same semantics as [`threading.local`](https://docs.python.org/3/library/threading.html#thread-local-data) does, and pass it as `memo` into the handler's kwargs.

Though, I have some fear that

[2019-11-15 19:00] chungktran opened #237 "Auto-reload script when using --dev flag"
## Expected Behavior
kopf to reload running script when script modified when using `--dev` flag with `run` command.

## Actual Behavior
Changes to the script doesn't reload the code. Terminating kopf took 45+ seconds to exit. Slows down development tremendously.

## Steps to Reproduce the Problem

  1. Run `kopf run --dev script.py`
  1. Please `Ctrl+C Ctrl+C`
  1. Waited 45+ seconds and start `ko

[2019-11-15 20:04] chungktran opened #238 "Error in kopf/updates.rst"
## Expected Behavior
Returns the current `spec.size`

## Actual Behavior
Returns `None`

## Steps to Reproduce the Problem
https://github.com/zalando-incubator/kopf/blob/master/docs/walkthrough/updates.rst
  1. The line `size = spec.get('create_fn', {}).get('size', None)` in `kopf/updates.rst` does not return a valid size. It returns `None` because there's no `create_fn` key in `spec`. It should b

[2019-11-16 04:55] chungktran opened #239 "Stopping kopf takes too long (45+ seconds)"
## Expected Behavior
Pressing Ctrl+c to stop kopf should stop right away or couple of seconds.

## Actual Behavior
Pressing Ctrl+c to stop kopf and it took 45+ seconds to quit. This is very tiresome during development.

## Steps to Reproduce the Problem

  1. Run kopf with or without `--dev` flag
  1. Press Ctrl+c once or twice to stop kopf
  1. Wait long time for kopf to completely stop

[2019-11-16 15:34] sniranjan commented on #239
I am seeing the same behaviour in Mac OS

[2019-11-16 15:49] sniranjan opened #240 "Error while creating the object but still object of type exists"
## Expected Behavior
Let's say I am creating a CRD called projects which will internally create namespaces

[code]
I am using the below controller logic
[code]
Everytime I create a project without a type, I am expecting the controller to fail and not create an entry

`kubectl apply -f test.yaml`

[code]

In the log I can see
[code]

## Actual Behavior
but when I do
`kubectl get projects`
I am able

[2019-11-16 15:50] sniranjan commented on #240
Might be related to https://github.com/zalando-incubator/kopf/issues/231

[2019-11-17 10:49] nolar commented on #239
Duplicate of #142. This should be fixed with `kopf>=0.23rc1` (try `0.23rc4`) in #227 (previously attempted in #176 and #152).

[2019-11-17 11:09] nolar commented on #240
Hello. Thanks for reporting. This is not related to #231.

This problem should be addressed by #55, and with the [admission validation hooks](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) in Kubernetes.

As of now (Nov'2019), this feature is absent in Kopf, and the timeline is not certain (hopefully this year, but no guarantee: maybe in the beginning of

[2019-11-17 11:10] nolar commented on #238
This should be `status`, not `spec`. I'll fix it. Thanks for noticing.

[2019-11-17 11:13] nolar commented on #237
The slow termination is addressed in #239, #142 & co.

But auto-reloading would be a nice feature for the development mode, perhaps. Same as Django and similar web frameworks do it.

[2019-11-18 12:32] pshchelo commented on #223
@nolar testing with master currently, with repro controller as in
https://github.com/pshchelo/kopf-debug/blob/96fbdc20e38b91db214e0d174c0343a2a87aff81/resume.py

when I create 3 `kopfexample` resources, shutdown controller, edit 2nd, create 4th and delete 3rd resource and start controller again, I see that for the second resource the 'resume' handler is executed with `event = update`, not the 'upd

[2019-11-18 15:43] pshchelo commented on #223
@nolar, however, if I roll all (except delete) handlers into one (decorate the same handler function as create, update and resume) that second (spurious?) 'resume handles update event' is not happening (handler de-duplication at works?).

[2019-11-18 16:10] chungktran commented on #239
@nolar How do I install 0.23r4? I cloned the repo and did a `pip install ./kopf` and it still installs `0.22`. I downloaded the asset and did the same and it still installs `0.22`. I tried `python setup.py` and it threw diff error about setuptools. Thanks.

[2019-11-18 16:21] chungktran commented on #239
@nolar I get the error below using `0.23r4` when running kopf with or without `--dev- flag.
[code]

[2019-11-18 16:34] nolar commented on #223
**Regarding the deduplication:**

Yes.  The handlers are deduplicated intentionally for the case of multiple decorators for one function. This is for the case of resume+create handlers: either an operator is created, or an object is created:

[code]

If you need them separately, then these should be separate functions, which internally call a regular function to do something.

---

**Regarding the

[2019-11-18 16:40] nolar commented on #239
@chungktran Can you please create this as a separate issue? Please, put this stacktrace there.

And also, if possible, your `~/.kube/config` — but please **remove any passwords, tokens, secrets, hostnames** from there. I would like to understand how both username+password AND a token happen do get there at the same time. If it is not possible — it is fine.

[2019-11-18 17:34] pshchelo commented on #223
I don't think the naming is confusing, and as you describe 'notice' - is is 'create' semantically (_seeing for the first time_ part).

I would expect the 'resume' handler to process *only* resources that have not changed in between controller shutdown and start. Everything else should be covered by other handlers - if something changed while controller was gone - on.update, if created new - on.cre

[2019-11-18 18:09] nolar commented on #223
Thanks. Just few thoughts to write down:

My first question is: why an on-resume handler is not enough, without mixing it with on-update/-on-create decorators? That would cover all the CRs, both changed and unmodified.

But if the goal is to catch all the **"unmodified only"** CRs, this will be a problem indeed.

This brings me to an idea that another handler should be introduced (`@kopf.on.notice

[2019-11-18 20:48] nolar opened #241 "Handlers for resuming only unmodified/idling/sleeping resources"
## Background

As discussed in #223 comments (https://github.com/zalando-incubator/kopf/issues/223#issuecomment-554996297 and below), there is one type of handlers is missing: when an operator restarts, it should process all the objects that existed before, but were neither updated, nor deleted.

Originally, this was a technical solution for `@kopf.on.resume()` handlers in #96. But then it was int

[2019-11-18 20:53] nolar commented on #223
I've re-read some PRs from the past — it seems, this dilemma of resuming handlers' semantic was already there when resuming was introduced:

* #105 for the current solution with the resume handlers mixed into create/update/delete reasons on the operator restart.
* #96 for a declined solution with the resuming reason directly mapped to the resuming handlers, with no mixing in (see https://github.co

[2019-11-18 21:36] logicfox commented on #232
@nolar Sorry, I couldn't test this earlier. But it looks like the problem is still there in the `master` branch. `watch` seems to freeze after a while. I'm going to test this with the raw Kubernetes Python client to see if it's an issue with my cluster.

[2019-11-19 03:03] chungktran opened #242 "ValueError: Cannot combine AUTHORIZATION header with AUTH argument or credentials encoded in URL"
## Expected Behavior
kopf to run normall

## Actual Behavior
kopf throws error `ValueError: Cannot combine AUTHORIZATION header with AUTH argument or credentials encoded in URL`.

Please note that this error occurs when using kopf with k3s. However, I don't think k3s is the problem here but rather that it's using username/password authentication instead token.

## Steps to Reproduce the Problem

[2019-11-19 03:04] chungktran commented on #239
@nolar filed this ticket https://github.com/zalando-incubator/kopf/issues/242

[2019-11-19 15:02] pshchelo commented on #241
first, thanks for your help with our use-case :+1:

as for naming, I'd suggest `on.exists`, but whatever floats your boat :-)

[2019-11-20 01:24] nolar commented on #242
@chungktran Can you please try it with the new `master`, or [`kopf==0.23rc5`](https://github.com/zalando-incubator/kopf/releases/tag/0.23rc5)?

[2019-11-20 09:29] pshchelo opened #246 "kopf is incompatible with aiohttp 4.x"
No urgency, consider it as an early warning.

Installing `kopf` and dependencies with `pip install --pre`

## Expected Behavior
kopf-based controller starts

## Actual Behavior
kopf-based controller crashes
[code]

## Steps to Reproduce the Problem

  1. pip install --pre kopf
  2. run any controller based on kopf

## Specifications

  - Platform: Ubuntu 18.04
  - Kubernetes version: *1.14*
  - Py

[2019-11-20 13:48] brutus333 opened #247 "Documentation clarification"
## Expected Behavior

I expect to have a clear understanding of kopf operation after reading the documentation.

## Actual Behavior

Maybe I'm wrong but for me it seems that documented peering mode comes into conflict with deployment recommendations:

https://kopf.readthedocs.io/en/latest/peering/#peering vs. https://kopf.readthedocs.io/en/latest/deployment/#cluster-deployment

What I understood f

[2019-11-20 14:12] brutus333 opened #248 "kopf framework stucked if cannot reach initially k8s API"
## Expected Behavior

If kopf can't reach k8s API at start it should either exit with non-zero exit code or retry after a fix/variable interval.

## Actual Behavior

kopf is stalled so there is no processing of cluster events even after k8s API recovery.

[code]

## Steps to Reproduce the Problem

  It's quite hard to reproduce since it was only occurring on very busy or undersized k8s cluster.

#

[2019-11-20 14:35] nolar commented on #248
Can your please try it with [`kopf==0.23`](https://github.com/zalando-incubator/kopf/releases/tag/0.23)? There was an issue with freezing at exiting and on errors for ~30-90 seconds (#142). In 0.23, the I/O is fully reworked to asyncio+aiohttp, there are no blocking synchronous `socket.read()` threads anymore, so it should fail normally.

Retries are also possible to implement now in one central p

[2019-11-20 14:39] brutus333 commented on #248
Sure, I was already trying, but I probably need to understand more about the changes in 0.23 since the framework is failing initially with `ERROR    kopf.reactor.running:running.py:423 Root task 'watcher of nodes' is failed: ClientResponseError(RequestInfo(url=URL('https://127.0.0.1:53687/api/v1/nam
espaces/default/nodes'), method='GET', headers=<CIMultiDictProxy('Host': '127.0.0.1:53687', 'User-A

[2019-11-20 14:45] brutus333 commented on #248
Regarding the error I posted earlier, it is occurring when the framework is started with `--namespace` argument. Is it expected?

[2019-11-20 14:54] nolar commented on #247
Some clarifications (I'll add them to the docs later):

For _one specific operator_, only one pod should be running. Two pods will be conflicting with each other.

_"One specific operator"_ means an operator that handles specific resource kinds.

However, there can be _multiple independent Kopf-based operators_ for different purposes, handling different resource kinds.  They will not conflict with

[2019-11-20 16:18] nolar opened #249 "Cluster resources "not found" when running in a namespace"
## Expected Behavior

Kopf watches over the cluster resources.

## Actual Behavior

Kopf cannot watch the cluster-scoped resources when running in a namespace.

It could do that when running on `pykube-ng`, as it was scanning and parsing the resources' scopes internally.

## Steps to Reproduce the Problem

[code]

Running with:

[code]

## Specifications

[code]

[2019-11-20 16:18] nolar commented on #248
`/api/v1/namespaces/default/nodes` — definitely not expected. The nodes are not namespaced. It should be a cluster query.

Seems, the cluster resources was broken when switched off `pykube-ng` — it was doing the pre-listing of the resources and parsed their scope.

Let's see if I can quickly fix this... Created #249 for this.

[2019-11-20 17:08] chungktran commented on #242
@nolar Looks good. Error is gone. Thanks for fixing this.

[2019-11-20 17:39] #242 closed

[2019-11-20 17:57] moduspwnens commented on #231
Sorry--I saw this as more of a feature request than a bug report, so I didn't include bug report details.

I was using version 0.22, but as part of verifying steps to recreate the issue for this comment, I tried version 0.23 instead and it's working as expected there. When I do `sys.exit(1)`, it exits immediately with the exit code I specify. So it seems to be working for me now. Thanks!

[2019-11-20 17:57] #231 closed

[2019-11-20 18:10] nolar commented on #249
Released as 0.23.1 hotfix — but kept open, as tests should be added (and maybe some cleanups).

[2019-11-20 18:22] nolar commented on #248
@brutus333 The 404 error should be fixed in [0.23.1](https://github.com/zalando-incubator/kopf/releases/tag/0.23.1).

[2019-11-20 18:35] nolar commented on #231
I see. Such exiting was never a tested or specially designed behaviour. Therefore, I didn't know how it will behave with `SystemExit` raised in a threaded handler — will it escalate, or will it be suppressed.

But since it works now, it could also be caused by #142 — an improper process termination. I.e., it actually exited the operator previously on `SystemExit`, but was freezing at the after-exi

[2019-11-21 06:14] brutus333 commented on #248
Thank you for your very quick response and fix. I am highly appreciating your code quality.

[2019-11-21 08:30] jerith opened #251 "Crash on startup when peering CRDs not present"
## Expected Behavior

Prior to 0.23.1, running without `--standalone` and without the peering CRD(s) resulted in this warning being logged:
[code]
Thereafter, the operator continued to run in standalone mode.

## Actual Behavior

After updating to 0.23.1, running without `--standalone` and without the peering CRD(s) results in the following exception being logged:
[code]
Thereafter, kopf logs some

[2019-11-21 13:33] nolar opened #253 "Revise the e2e testing for pristine-clean environments"
0.23 release got few unfortunate bugs (#251 #249) sneaked into master and the releases: for cluster-scoped resources in a namespaces operators, and for peering auto-detection.

Despite 0.23 contained a lot of massive refactorings, and the failures were expected to happen to some extent, they were not noticed neither by the unit-tests, nor by the e2e test, nor by our internal usage of the operators

[2019-11-21 13:35] nolar commented on #251
Thanks for reporting! It should be now hot-fixed in [0.23.2](https://github.com/zalando-incubator/kopf/releases/tag/0.23.2). Can you please test it?

I've created #253 to follow up with this unfortunate bugs more systematically.

[2019-11-21 18:51] jerith commented on #251
Yup, that fixes it for us.

Thanks for the quick response, and thanks for a fantastic operator framework!

[2019-11-21 19:30] nolar opened #254 "Extended testing capabilities"
Currently, koof.testing.KopfRunner provides a way to run an operator in the background while running a test or a piece of code. The only way to assert anything is to check the resources themselves.

That would be much more helpful, if some internals are exposed on what is happening inside.

A/C:

* Handler outcomes exposed for tests.
* A runner for registry rather than a CLI runner
* Pytest fixtur

[2019-11-21 20:01] nolar commented on #251
@jerith You are welcome!

[2019-11-21 20:01] #251 closed

[2019-11-22 00:19] nolar commented on #249
Tests for discoveries are added in #252 for #251

[2019-11-22 00:19] #249 closed

[2019-11-24 16:21] mtparet commented on #100
I built a first POC in 2 hours to automatically sync secrets from auth0.
Very nice and easy framework/tool!

[2019-11-25 12:08] nolar opened #255 "Operator freeze causes the changes to be ignored"
## Expected Behavior

An operator notices the changes once it goes into operational mode (unfreezes).

## Actual Behavior

The operator continues idling and only notices the changes on the next re-listing (re-connection), or when something else is changed for that individual resources.

## Steps to Reproduce the Problem

  1. Create an operator deployment.
  1. Create one or more resources.
  1. `

[2019-11-27 10:51] Jc2k commented on #98
This would be really handy for me.

I was thinking about writing a cert-manager plugin with kopf - something like [this](https://github.com/jetstack/cert-manager-external-issuer-example).

With this feature I would be able to filter out `CertificateRequests` that weren't "assigned" to my operator by looking at `spec.issuerRef`.

(Presumably these objects would then not be tagged with the kopf last

[2019-11-27 12:45] nolar commented on #98
I think, it is easily implementable now. Since at least some filters were added in #123 (by labels/annotations), adding more filters is easy.

A starting place to look for: https://github.com/zalando-incubator/kopf/blob/0.23.2/kopf/reactor/registries.py#L570-L623

[2019-11-27 22:31] Jc2k commented on #98
Thanks for the hint. I've had a bash at this in #258.

[2019-11-28 13:29] grzesuav opened #259 "Question : Writing to API"
## Expected Behavior

Hi, I am looking for a way to handle writing object to kubernetes API (create/update) based not on observed objects but rather on disk configuration.

## Actual Behavior

Cannot find a way to do it, seems like kopf reacts on events triggered by kubernetes

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

I generate some kubernetes manifests I would like t

[2019-11-28 13:44] nolar commented on #259
@grzesuav Can you please provide an example? I do not understand what is a "disk configuration" in this case.

[2019-11-28 13:48] grzesuav commented on #259
Sure, I have some json file in dockerimage which I would like to use as a source to generate `PrometheusRule` object without worrying about object existence, etc

[2019-11-28 13:50] grzesuav commented on #259
Main point is it isn't triggered by any other event from kubernetes API

[2019-11-29 15:49] nolar commented on #259
Maybe I still do not understand it, but it looks like a job of a Kubernetes API client library, not of the the operator framework.

You can read the JSON, render the template or substitute the variables, and apply the resulting object to the API. You can see examples here (just with YAML and an inline template rather than a file):

* https://github.com/zalando-incubator/kopf/blob/master/examples/0

[2019-11-30 12:45] dgr237 opened #260 "Question: Create Event on Non Custom Resources"
## Expected Behavior
I have a custom resource which is defined at a cluster level. When this is created/ deleted it will create resources in each namespace. This I have managed to do. However I need to also be able to watch on namespaces such that if a new namespace is created then the resources will then be created in the new namespace.

I have tried to create an 'event' on namespaces:

@kopf.on.

[2019-11-30 14:25] #260 closed

[2019-11-30 14:26] dgr237 commented on #260
Was using an old version of kopf... this seems to work with the latest version

[2019-12-03 14:41] zakkg3 opened #261 "01-minimal example does not work as expected."
## Expected Behavior
As the https://github.com/zalando-incubator/kopf/blob/master/examples/01-minimal/README.md says:
[code]
and
[code]

## Actual Behavior
as documented : `Whatever is returned from any handler, is stored in the object’s status under that handler id (which is the function name by default).`
 so I get:
[code]
and then the message is not picked up:

[code]

## Steps to Reproduce the

[2019-12-03 14:54] nolar commented on #261
Thanks for reporting. Indeed, that is the definition of `crd.yaml`. It should be:

[code]

(With `.create_fn.` in two fields).

[2019-12-03 15:09] zakkg3 commented on #261
Yes, that will fix all the examples :). Thanks for the super-fast answer. we are thinking about use this framework, and with this response, I think we will go this path. thanks!

[2019-12-03 20:20] grzesuav commented on #259
@nolar actually I started from using kubernetes python client, and it is simply too complicated - I would like to have simplicity of `kubectl apply ` but I end up with :
* checking if given object exist (different command for create new and update)
* increasing version
+ several other cases, and for my usage it was simply overkill. Looking at what kopf is doing I believe it handles this right way.

[2019-12-03 20:20] #259 closed

[2019-12-04 08:43] nolar commented on #259
@grzesuav Then take a look at the declarative commands of `kubectl` (specifically, `kubectl apply`): https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/ — this is what you are looking for.

[2019-12-04 11:47] rajivginotra opened #263 "Operator handler shows connection reset by peer."
## Expected Behavior
The pod should respond immediately

## Actual Behavior
Connection reset by peer in middle of creating resources

## Steps to Reproduce the Problem
1. Create an operator pod and try to create resource but this leads to below traceback

## Specifications

  - Platform:Ubuntu 16.04
  - Kubernetes version: *(use `kubectl version`)* v1.15.1
  - Python version: *(use `python --versi

[2019-12-04 16:22] smileisak opened #264 "Support subresources updates"
## Expected Behavior

**Handle `kopf.on.update` for subresources**
Let's say that i want to handle subresources updates and updating the parent resources. For example:

[code]

[code]

The update of `kind: ChildResource` should run the logic of the child resource and update the `ParentResource` without re-runinng the logic of child resource.

## Actual Behavior

When updating the `ChildResource` a

[2019-12-07 12:07] nolar commented on #264
Can you please clarify on "… without re-runinng the logic of child resource"? What is "re-running" here? When and how does it happen? Maybe a simplified example would help?

If there is a handler defined for the child resource, and an update happens, it is reasonable to expect that the handler will be executed.

---

One way to avoid this is to use `@kopf.on.field(..., field='spec.something')` han

[2019-12-07 12:17] nolar commented on #263
@rajivginotra Can you please try the same with the most recent `kopf==0.23.2` (I see 0.20 in your list). There were quite a lot of changes, especially in [0.23](https://github.com/zalando-incubator/kopf/releases/tag/0.23), where the synchronous pykube/requests/urllib3 were removed from the internals, and asynchronous aiohttp is now used. This should have changed how the low-level TCP connections a

[2019-12-07 21:25] nolar commented on #239
I assume, the original issue is fixed (as it is fixed for our own operators).

If it reappears with `kopf>=0.23.2`, please re-open this issue or open a new one.

[2019-12-07 21:25] #239 closed

[2019-12-07 21:30] nolar commented on #248
@brutus333 Can you please re-check the original issue with `kopf>=0.23.2` (stalled operator on AP error)? Does it re-appear? Or maybe with a different exception (it should be `aiohttp` error now)?

[2019-12-07 21:33] nolar commented on #207
There is still no lighting talk, but there is now a 22-minute talk (33 min with questions) from KubeCon San Diego 2019:

* Video: https://youtu.be/rN_rQU92T5s
* Slides: https://speakerdeck.com/nolar/developing-operators-with-kubernetes-operator-pythonic-framework-kopf

[2019-12-09 13:54] brutus333 commented on #248
Hello!
I am trying to reproduce the issue. Not sure however if I can succeed. I had to add some extra latency to API responses... Maybe I can use for this toxiproxy.
I'll let you know once I have a result.
Thank you.
Virgil

[2019-12-09 14:55] brutus333 commented on #248
I managed to reproduce partially the conditions and it seems that 0.23.2 is behaving better.
I used a kind cluster and I issued a kill -STOP api process (restarted later by systemd). In kopf 0.21 and 0.22 the operator exited only when remote reset the connection while in kopf 0.23.2 the operator exited after 60 seconds with a clear message: `SSL handshake is taking longer than 60.0 seconds: aborti

[2019-12-11 13:13] dgr237 opened #267 "Question: Dynamically adding events"
Is it possible to dynamically register/unregister event handlers? I have a use case where when a Custom Resource Definition is created/deleted (which I am handling through on.update and on.create handlers) I want to dynamically listen with an on.event handler for instances of the crd being created/updated/deleted.

Is this possible and if so how would I do this?

[2019-12-11 13:46] nolar commented on #267
I think, it is possible. Though it was never an intended use-case, probably can be broken in the future, and the consequences of doing so are unknown.

One problem that I see right now: there is not un-registering the handlers at the moment, but it can be easily added.

---

Another way is to use the [operator embedding](https://kopf.readthedocs.io/en/latest/embedding/) with [`kopf.operator()`](ht

[2019-12-11 16:54] jmdacruz opened #268 "Question: How to monitor child resources and change CRD state accordingly?"
I'm probably missing something obvious. For instance, say I have an operator that reacts to the creation of a `CRD` by creating a `Deployment` that has a `ReplicaSet` with `N` pods, I'd like to reflect on the `CRD`'s status the fact that the sub-resources have been created correctly, or else set the status of the `CRD` to an error. What's the proper pattern for this?

(I'm giving it a try at build

[2019-12-12 10:16] nolar opened #269 "CI/CD broken with Kubernetes 1.17.0 & Minikube 1.6.0 due to RBAC"
## Expected Behavior

CI/CD runs.

## Actual Behavior

CD/CD fails for Kubernetes "latest" version (1.17.0) with the latest Minikube 1.6.0.

A sample broken build: https://travis-ci.org/zalando-incubator/kopf/builds/623752971

Caused by Minikube not able to start Kubernetes 1.17.0 with RBAC authentication. Described the issue in https://github.com/kubernetes/minikube/issues/6061

It is not Kopf-re

[2019-12-12 14:41] #269 closed

[2019-12-12 15:32] sebgoa commented on #268
https://www.youtube.com/watch?v=rN_rQU92T5s See at 14:36

[2019-12-12 21:40] jmdacruz commented on #268
Awesome! That video is pretty cool, thanks for sharing!

[2019-12-12 21:40] #268 closed

[2019-12-15 00:10] arthurh4 opened #271 "Question: Run handler based on timer"
Hello, very nice project ! I would like to run a function to run to some checks based on a timer (eg: every 30 seconds) is there any existing handler I could use ? Thanks

[2019-12-16 09:37] nolar commented on #271
Hello. Thanks.

I'm currently working on this for #19, #150 and related issues, which will make it possible and easier. A draft is already functional, but I was slightly "distracted" by sickness.

Meanwhile, you can use this pattern:

[code]

The same would be with the `threading.Thread()`, except that it is harder to terminate — needs an event-flag to indicate that it should stop.

[2019-12-16 13:37] nolar opened #272 "CI/CD broken with Coverage 5.0"
## Expected Behavior

CI/CD works, especially when there are no unrelated code changes.

## Actual Behavior

A sample broken build: https://travis-ci.org/zalando-incubator/kopf/builds/625639579

[code]

Coveralls has a restriction on `<5.0` ([link](https://github.com/coveralls-clients/coveralls-python/blob/1.9.2/setup.py#L36)), but pip does not respect it.

Since `coverage==5.0` has been released

[2019-12-16 13:47] nolar opened #273 "Switch to Poetry /OR/ pin all the dependencies"
## Context:

I am getting annoyed by permanent CI/CD failures due to external releases, sometimes happening every few days in a row:

* #272 (coveralls-vs-coverage)
* #269 (k8s 1.17 + rbac in minikube)
* #181 (coveralls down)

## Goal

* [ ] Switch to Poetry for CI/CD dependency installation.
* [ ] Lock all the dependencies' versions.
* [ ] Establish the auto-upgrade via the automatic PR creation

[2019-12-16 14:07] #272 closed

[2019-12-16 16:17] pshchelo opened #275 "kopf crashes on large enough resources"
kopf 0.23.2 fails when a field in the resource being watched exceeds certain limit

in our case it is a secret with value size (in base64) of about 43KB.
Kubernetes itself accepts such Secret just fine, and Kubernetes docs state that the max secret size is 2MB.

## Expected Behavior
everything works

## Actual Behavior
kopf crashes and stops with the following error (for full trace see below in th

[2019-12-16 16:58] nolar commented on #275
Thanks for so detailed report and a way to reproduce it! I will take a look on how to configure that.

[2019-12-16 17:57] nolar commented on #275
Hm. After a quick-dive into `aiohttp` internals, there is no way to configure that limit  externally. Specifically, for the `StreamReader`, the [docs say](https://docs.aiohttp.org/en/stable/streams.html):

Neither client session, nor client connector, nor client request/response have this limit or a stream factory exposed for configuration and passed through to the streamer (or I could not find it

[2019-12-23 13:23] nolar commented on #275
Released as [`kopf==0.24`](https://github.com/zalando-incubator/kopf/releases/tag/0.24).

`kopf==0.24rc1` seems to work fine with this and some other fixes in our environments.

[2019-12-23 13:23] #275 closed

[2019-12-23 13:24] nolar commented on #261
Released as [`kopf==0.24`](https://github.com/zalando-incubator/kopf/releases/tag/0.24).

[2019-12-23 13:24] #261 closed

[2019-12-23 13:57] nolar commented on #255
Released as [`kopf==0.24`](https://github.com/zalando-incubator/kopf/releases/tag/0.24).

[2019-12-23 13:57] #255 closed

[2019-12-23 17:57] pshchelo opened #279 "kopf subhandlers miss some events"
## Expected Behavior
when watched resource is updated several times, all subhandlers must run for at least the latest state of the watched resource

## Actual Behavior
some subhandlers are not executed at all when the watched resource is updated quickly enough several times

## Steps to Reproduce the Problem
(using `kopf` namespace and `kopfexamples` custom resource)
  1. minimal controller
[code]

[2019-12-24 09:51] pshchelo commented on #279
when starting the 'subhandler' functions manually (w/o `kopf.execute`) still an interesting behaviour occurs:
it seems that each 'retry' of main handler is using the latest watched object state - and may be this is the reason why the behaviour described in the issue manifests.
Consider the following handler code (slight modification of the previous example):
[code]
Running with the same repro proc

[2019-12-30 20:33] fangpenlin opened #280 "Get the namespace value passed into the cli in startup handler"
## Expected Behavior

I guess this is more like a feature request. Now I can run the operator with `--namespace` argument like this

[code]

correct me if I am wrong, but I looked into the source code, it seems like there's no way to get this namespace value. For my use case, I would like to do some initial API calls in my startup handler, like this

[code]

as you can see the namespace value is n

[2020-01-02 10:04] nolar commented on #279
Looks like a known problem (with no issue though, so this one will be it). I've made few attempts to solve this problem previously: #9, and then again in #163 — but it failed spectacularly after the merge (had to revert it in #182).

The fix should be implemented again sooner or later, but extra care is needed for the cases where it failed in the previous attempts.

Thanks for this detailed report

[2020-01-02 10:19] nolar commented on #280
Thanks for suggesting. Maybe namespace alone is not so special to be passed, but the whole CLI config can be packed into a single config-object, and passed to the startup/cleanup/login and maybe the regular resource handlers as one `config` kwarg, with `config.namespace` having the namespace from CLI.

_Just few extra ideas to think:_ It could also take the existing but undocumented `kopf.config`

[2020-01-02 15:20] pshchelo opened #281 "timeout errors are logged at exception level"
## Expected Behavior
no traces in logs

## Actual Behavior
from time to time we see the following in the controller logs:
[code]

It seems it would be enough to handle `asyncio.TimeoutError` here
https://github.com/zalando-incubator/kopf/blob/d74a0638da01037d65e8b6c7b041c4f9c2e257cd/kopf/reactor/queueing.py#L178-L182
similar to how it is handled separately several times in the code before that,
an

[2020-01-02 16:38] pshchelo opened #283 "Allow several controllers to watch the same resource"
(this is feature request, so forgive me for skipping the issue template)

Currently it is not possible to watch for the same k8s resource by several controllers - except for `on.event` spy handler, but events are ephemeral in k8s, so we need a more robust solution.

This is needed mostly to only observe the state of some (cluster-shared) resource.
In our case this is several very stateful applicat

[2020-01-03 13:00] nolar opened #284 "Reaction cycle _sometimes_ just stops for no reason"
## Long story short

Kopf-based operator _sometimes_ stops the reaction cycle and handler invocations in the middle of the process, and does nothing until a new change is applied or restarted.

## Description

An investigation has shown that it is caused by `datetime.datetime.utcnow()` being called in multiple places during one handling cycle. As a result, the "now" timestamp is inconsistent, and

[2020-01-03 16:24] fsniper opened #286 "adopt(V1Secret) fails"
## Long story short

When trying to adopt a V1Secret object, adoption fails with
```AttributeError: 'V1Secret' object has no attribute 'setdefault'```

## Description

<details><summary>The code snippet to reproduce the issue</summary>

[code]
</details>

<details><summary>The exact command to reproduce the issue</summary>

[code]
</details>

<details><summary>The full output of the command that f

[2020-01-06 10:31] Jc2k commented on #283
I would find this useful too. Right now in one of my controllers i monkey-patch `kopf.structs.lastseen.LAST_SEEN_ANNOTATION` . This works but is obviously brittle.

I would quite like to be able to set this in code rather than adding additonal CLI flags though.

[2020-01-06 14:27] Jc2k opened #289 "Export prometheus metrics at `/metrics`"
## Problem

I'd ultimately like to expose metrics to prometheus from most of my operators so having a blessed way to do it via the built in kopf aiohttp server would be very nice, rather than rigging something up in each project.

`on.probe` is close, but i'd like something prometheus can scrape directly.

## Proposal

My preferred solution would be to have kopf natively support prometheus via its

[2020-01-06 14:33] pshchelo commented on #283
@Jc2k IMO this still better be some 'external' thing (like CLI flag or env var), otherwise you can't run the same code for several instances of controller.
Anyway I prepped a PR that implements the option 3 (CLI flag to re-use `-P <peering name>` as prefix), will propose this week.

[2020-01-07 10:07] nolar commented on #286
Thanks for reporting.

Currently, only raw dicts are supported. The classes of other libraries are not yet supported. Though, it would be a good addition for this specific toolkit — hierarchy management — so that it can also accept `kubernetes`'s and `pykube-ng`'s classes for adopting/labelling/annotating/owning.

[2020-01-07 10:11] nolar commented on #283
Related: #23

[2020-01-07 10:19] nolar commented on #283
There will be another issue beside the annotations. Kopf stores its handlers' statuses in `.status.kopf.progress`, and purges the whole section once done regardless of the content. If multiple operators handle the same object at the same time, their handlers could collide (with the same id or function names), and they will be purging each other's handling progress.

So, the suffix/prefix should be

[2020-01-07 11:03] Jc2k commented on #289
My approach to this was going to be to add a route to the existing `aiohttp.web.Application()`, the question is would it be ok for the functionality to live in `probing.py` or does it need breaking out somehow?

[2020-01-07 11:30] nolar commented on #289
Hm. First of all, I am not familiar with Prometheus, so have to read & learn the concepts first, before making any judgements.

Nevertheless, despite I understand that Prometheus is a popular (or the most popular) monitoring tool _**now**_, it all can change. Beside, there can be other opinions, and I do not like pushing my or someone's personal preferences as unavoidable defaults for everyone (se

[2020-01-07 12:17] Jc2k commented on #289
All good points!

# Can the Prometheus metrics be served in a separate thread?

In general I don't like using their threaded web server in a thread when aiohttp is available. This is probably a personal preference thing, but at a technical level there are 2 main issues:

 * If you want to run a collector that uses async you can't use their server.
 * You have done some good work to integrate the a

[2020-01-07 15:39] nolar commented on #289
That is exactly the point I see as problematic here:

`aiohttp` is an internal implementation detail, the current way to expose the liveness via HTTP. The public interface only has the concept of _liveness probes_ and some rudimentary _metrics_ (domain-level concepts), not the way how they are exposed to K8s (implementation details).

Injecting endpoints assumes either that the internal implementa

[2020-01-07 15:40] nolar commented on #289
PS: Maybe even a global timer:

[code]

[2020-01-07 16:53] Jc2k commented on #289
Yes, this sounds great! I would probably make such a prometheus connector if `kopf.daemon` was available.

Seperately I do have use for a timer as well, but not for the `interval=1` case thankfully :D

[2020-01-08 10:41] #284 closed

[2020-01-09 11:40] #246 closed

[2020-01-09 20:43] Carles-Figuerola opened #290 "500 errors when publishing events"
## Long story short

kopf is throwing 500 errors in a queuein event after the handler has finished running

## Description

I have created an operator with two handlers, one for iam roles and one for iam profiles. For some reason, the iam profile event handler returns a 500 error when trying to post an event.

[code]

The operator has a cluster role with these permissions:
[code]

Is there some ti

[2020-01-11 01:31] jicowan opened #291 "Cannot see print statements in container log"
## Question

I cannot see my print() statements in the container log for my operator.  Here is an example:
[code]

I've also tried using the python logging library.  That didn't work either.  All I see are the event/logs from the operator framework.

## Checklist

- [ x] I have read the [documentation](https://kopf.readthedocs.io/en/latest/) and searched there for the problem
- [ x] I have searche

[2020-01-11 03:07] jicowan commented on #291
I am also having an issue with try except statements.  It doesn't appear that kopf is honoring them.  It is also failing to detect the region.  I created another operator with an earlier version of kopf and didn't have this issues.

[2020-01-12 16:31] #291 closed

[2020-01-15 15:55] smileisak opened #292 "Upgrading from 0.21 to 0.24 raises ClientResponseError"
## Long story short

When upgrade kopf version from `0.21` to `0.24`the operator raises a `aiohttp.client_exceptions.ClientResponseError: 403, message='Forbidden'` Exception related to my CRD.

Everything worked fine until the version `0.23` and my account have a full access to the Kubernetes cluster.

## Description

<details><summary>The code snippet to reproduce the issue</summary>

[code]
</de

[2020-01-15 16:45] nolar commented on #292
Can you please also share the RBAC setup in relation to this CRD for the service account of this operator? (Specifically, I would like to see if the `list` verb is on the list next to the `watch` verb for that namespaces/cluster role.)

[2020-01-15 16:52] nolar commented on #291
Hm. I'm not sure how I can help here. Kopf does not intercept stdout/stderr, so all the prints should be visible — especially if regular log messages are visible.

Can you please share a code snippet to reproduce the issue? And the way how you start the operator: is it `kopf run` CLI command, or is it your own process?

Also try putting `print()` outside of any ifs — maybe the condition if not met

[2020-01-15 17:03] nolar commented on #290
Which version of Kubernetes do you use?

As a quick-guess, try using explicit verbs instead of a star.

[code]

The [RBAC documentation](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) shows no examples with a star, so I am no sure this will work at all.

---

Generally, try doing the same from CLI:

[code]

It is Kopf-unrelated, and it should succeed.

[2020-01-15 17:53] #248 closed

[2020-01-16 00:10] bukowa opened #293 "broken docs"
1. Visit: https://kopf.readthedocs.io/en/latest/search/?q=retry&check_keywords=yes&area=default
2. Click results

A question, the delay for `TemporaryError` is in what units?

[2020-01-16 08:55] smileisak commented on #292
@nolar the operator is running in my dev machine using my kubeconfig, i'm administrator of the kubernetes cluster.

Here is some additional details about who-can watch and list this crd.

[code]

[code]

[2020-01-16 09:49] nolar commented on #293
In seconds — same as in all (or most) sleeps & durations in Python.

Indeed, this should be clarified, and could be extended with some time-parsing library to support strings like '5m'.

[2020-01-16 10:08] nolar commented on #292
@smileisak And all of these CLI commands work normally?

[code]

I will try to reproduce it in GKE with v1.13.11-gke.14, but it looks strange: the only change after 0.23 that might be relevant is #250 (0.23->0.23.1). It works for us both in namespaced and cluster-scoped operators, but we use K8s 1.14+ and not in GKE. Maybe this issue is specific to the environment.

[2020-01-16 10:45] bukowa commented on #293
Thank you. I don't know about any Github bots that scrape for broken links, maybe that could be a nice addition for the future.

[2020-01-16 10:49] nolar commented on #292
I tried in GKE with `1.13.11-gke.14` — works fine for me in a fresh new cluster, so I could not reproduce the issue to catch it.

Creating the Google Cloud credentials was a challenge though. I used this guide to create service accounts via Console, downloaded some secret JSON files, and used them as the `GOOGLE_APPLICATION_CREDENTIALS ` env var: https://cloud.google.com/docs/authentication/gettin

[2020-01-17 01:38] chainhead opened #294 "Missing namespace parameter in create_namespaced_pod"
## Long story short

`create_namespaced_pod` fails with message `ValueError: Missing the required parameter namespace when calling create_namespaced_pod`

## Description

<details>
The controller code - `controller.py`.

[code]

Run the controller.

[code]

Create an object based on a new CRD.

[code]

Error message:
`ValueError: Missing the required parameter namespace when calling create_namespa

[2020-01-17 09:40] nolar commented on #294
@chainhead Is it a cluster-scoped CRD or namespace-scoped? Can you please show the CRD's YAML and `pod.yaml`?

In any case, it seems like an issue with `kubernetes` client library, not Kopf. The only way how Kopf can affect it, is `namespace=None` for cluster-scoped CRDs. But the error message should be different: the parameter is passed, it is just "wrong" (pod's namespace cannot be `None`).

[2020-01-17 15:08] nilaysaha opened #295 "What would be the best way to have a two way tie up between resources created using CRD ?"
## Problem
Currently writing an operator for communicating with azure keyvault from within kubernetes (https://github.com/nilaysaha/pyoperator-azure-keyvault) using kopf. One topic is once the secrets are created in the kubernetes, and they are deleted later (say by mistake), how should we detect this secret deletion so that the operator can be invoked to recreate the secret ?

Ideally in this cas

[2020-01-17 15:34] jicowan commented on #291
Thanks @nolar. There was an exception before my print statement ran.  Sorry for the confusion.  I should have caught that before opening an issue.

[2020-01-17 17:29] jicowan opened #296 "Root task 'health reporter' is failed: OSError(99, "error while attempting to bind on address ('::1', 8080, 0, 0): cannot assign requested address")"
## Question

After adding the health check to my Dockerfile, e.g.
`kopf run --liveness=http://:8080/healthz main.py` I get the following error:
[code]

I tried adding an EXPOSE declaration in the Dockerfile for port 8080 but that didn't fix the issue.

## Checklist

- [x ] I have read the [documentation](https://kopf.readthedocs.io/en/latest/) and searched there for the problem
- [x ] I have searc

[2020-01-17 17:32] chainhead commented on #294
My CRD has a scope of `Cluster` and `pod.yaml` does not have `namespace`. Isn't the `namespace` passed in via the `kubectl create -f example-yaml -n someNamespace` command?

[2020-01-17 17:35] chainhead commented on #295
What do we do when we truly and really want the secrets to be deleted?

[2020-01-17 17:38] nilaysaha commented on #295
I found out that this ties in to the concept of informer where the resource created by the operator has to be monitored so that till the crd exists the object should exist. Thus when the secrets are tied to a crd, they are recreated when crd exists and deleted when crd is deleted. Latter is doable but the earlier I am having problems of doing it using kopf.

[2020-01-17 17:58] jicowan opened #297 "Boto3 get region during startup_fn()"
## Question

I am calling a method in my startup_fn() that queries instance metadata to get the region.  I use the region to create global environment variables for boto3 clients like ec2 and eks.  When the code runs, I get an error that the region must be set.  How should I handle this?

Here is the code I'm using in my startup_fn():
[code]

## Checklist

- [ x] I have read the [documentation](ht

[2020-01-17 19:23] jicowan commented on #297
When I moved the variable declarations out of the handler, it worked.  I wanted I could do it as part of the setup handler because I'm using the HTTP request library to call ec2 metadata.  I didn't want the operator to start until the region was set.

[2020-01-17 19:43] jicowan commented on #296
Adding 127.0.0.1 to the URL seems to fix it.

[2020-01-20 09:57] Jc2k commented on #296
First thought isn't a kopf thing but the health check client runs outside the container doesn't it?, so binding on `127.0.0.1` won't work. Have you tried `0.0.0.0` instead of `127.0.0.1`?

[2020-01-20 11:44] nolar commented on #297
Can you please show the error and its stack trace?

[2020-01-20 11:53] nolar commented on #294
For the custom resources — yes (when it is namespace-scoped). But here, you create a pod, and this pod needs its own namespace specified. Pods cannot be cluster-scoped, they **must** be namespaced. It can be a namespace of the custom resource, or any other (depends on the domain logic).

`kopf.adopt(data)` partially solves that task of parent-child relations — see https://kopf.readthedocs.io/en/la

[2020-01-20 14:59] chainhead commented on #294
Thanks for your response; let me run some experiments.

[2020-01-20 15:37] jicowan commented on #296
@jc2k, yes.  Health checks are performed by the Kubelet.  Changing the IP to 0.0.0.0 fixed the issue.  Thanks!  The documentation for kopf should be updated to reflect that.

[2020-01-20 15:41] jicowan commented on #297
@nolar I will have to move the code back to the startup handler to get the trace.  It basically said that the region was not set when it when I referenced the variables in the create handler.

[2020-01-24 22:33] seperman opened #299 "Creating a DAG operator"
## Question

How would you go about creating a dynamic DAG (Directed acyclic graph) operator using Kopf?

## Checklist
For example [Argo](https://github.com/argoproj/argo) uses operators to create DAGs in Kubernetes.

What I'm thinking about is:

- Having an in memory mutable version of the dag in the operator. Every time that the dag gets modified or a node in the dag is traversed (a pod finished

[2020-01-26 20:09] janvdvegt commented on #100
We are currently using metacontroller for one of our CRDs but it is deprecated and I did not like some of the choices so for a second CRD I'm trying out kopf. So far I think it looks better. Our system basically wraps code of our users with some of our own code and this code is executed in multiple places in our system. Our first use case will be a wrapper around Jobs that build specific Docker im

[2020-01-26 20:37] janvdvegt opened #300 "Print statement from example does not show up in logs for me but logging lib works"
## Long story short

Print statements do not show up in logs in bare bones example. Replacing them with `logging.info` works.

## Description

Example code from docs:

[code]

This does work:

[code]

I tried to set `PYTHONUNBUFFERED` to 0 but this did not matter.

## Environment

* Kopf version: 0.24
* Kubernetes version: 0.12.4
* Python version: 3.7
* OS/platform: MacOS

By using the logging lib

[2020-01-26 20:51] bukowa commented on #100
https://github.com/bukwp/kopfmysql some throw away code but works. The only hard thing to figure out was testing. I found https://github.com/vapor-ware/kubetest nice project but needs some love, i was thinking about some wrapper around K8s py API. Later i tried to create generic dataclasses to define multiple and more complicated crds logic around secret that could be later easy imported into kopf

[2020-01-27 17:29] janvdvegt commented on #286
I'm interested in picking this up, although I only started using kopf yesterday. Is my observation correct that the base kubernetes client is not used anywhere? I'm looking at that part of the code now and I would need some guidance on what would be a clean way to fit it in. Where would the conditions on whether it is a dictionary vs a kubernetes object go?

[2020-01-27 21:10] nolar commented on #286
@janvdvegt That is correct: Kubernetes API clients are not used in Kopf. Only `aiohttp` is used — for API communication (low-level).

However, Kopf has slightly extended behaviour if `kubernetes` and/or pykube-ng are installed — it will reuse their authentication methods. But it does not require them to be present (effectively limiting the authentication capabilities to simple tokens & username-pa

[2020-01-28 08:32] janvdvegt commented on #286
On a base level it would be the methods in `kopf.toolkits.hierarchies` to also accept the `kubernetes` objects like `V1Secret` so that users can manipulate these objects as well with regards to ownership. This would mean the definition of a K8sObject would include these objects from `kubernetes`. It looks like all the logic can stay inside the `hierarchies` module.

[2020-01-28 23:22] cliffburdick opened #301 "Custom Scheduler?"
Great project, and I enjoyed your talk at kubecon 2019!

## Problem

Kubernetes 1.17 added a new scheduler framework, but at the same time, are slowly deprecating the ability to use Python as a scheduler language. Most of the new hooks added must be written in Go, and the old scheduler extension framework that was language agnostic is going away.

Since custom schedulers are similar to operators,

[2020-01-28 23:36] fsniper commented on #267
I am also working on kind of related use case.

I have a static CRD that I watch, and this CRD has a list of other kinds (group/version/kind) to watch and operate on.

I started calling kopf.on.event decorators as methods to register new watchers. This works as expected.

[code]
Of course  unregister problem still applies. Probably looking into operator embedding would be easier than trying to unr

[2020-01-29 03:54] whereismyjetpack commented on #100
Hi! I am creating an operator that takes a list of keys, generates random passwords, and creates a secret with those generated values. The idea is for containers that read default credentials from a secret, e.g `MYSQL_PASSWORD` I can have the operator generate them, and then inject the secret into each pod without needing to manually generate and provide them

[2020-01-29 13:56] nolar commented on #284
Fixed in [`kopf==0.25`](https://github.com/zalando-incubator/kopf/releases/tag/0.25).

[2020-01-29 14:14] nolar commented on #98
Released as [`kopf==0.25`](https://github.com/zalando-incubator/kopf/releases/tag/0.25).

@Jc2k Thank you very much for your contribution!

[2020-01-29 14:14] #98 closed

[2020-01-30 00:31] cliffburdick commented on #58
@nolar  I think this is related to #301 I opened. The way I'm imagining it is you create a custom scheduler using kopf that simply looks for a CRD to be created, then spawns pod(s) from that. Once created, a separate kopf, which is the real controller, is watching for child events of the pods below it, and taking appropriate action on deletion/crash/etc. Does that sound doable?

[2020-01-30 06:21] cliffburdick commented on #84
@nolar is there an example of watching a pod under a parent crd? I noticed you sketched ideas in several issues, but I'm not sure which you ended up on.

[2020-01-30 21:29] elemental-lf commented on #58
Stumbled (again) over this issue after I got alerted about the new comment and I wanted to say something about this paragraph:

I can think of one reason why another way could be needed: cross-namespace references. ownerReferences don't support this and this is by design. From the Kubernetes documentation:

I'm currently using labels for this use case and the filtering by label feature of Kopf hel

[2020-01-31 09:35] nolar commented on #301
Can you please give some links with a description of this new scheduler? — To better understand the change.

[2020-01-31 09:42] nolar commented on #58
@elemental-lf That field is fuzzy at the moment. I had few ideas drafted in https://gist.github.com/nolar/8c6233778a30a32fafd7f8d3a55a2cb4#file-example-relations-py-L274-L276 on how the cross-resource interactions can be _expressed_ via decorators: e.g. by implicitly remembering from which handler/object a child was created (if Kopf's adoption was used), and using that as a filter. And few more id

[2020-01-31 09:58] nolar commented on #58
@cliffburdick Are you talking about CRDs or CRs?

If it is about CRs (i.e. objects), then it is already doable now when the parent's handler puts the labels on the children, and the children handlers use label filtering with those labels. — This is how we have it implemented in our apps even cross-namespace.

[2020-01-31 10:49] elemental-lf commented on #58
@nolar thanks for the pointer, this looks promising. I haven't thought about this in depth but I have a feeling that using a handler reference as origin might be confusing to the user. I assume that the advantage would be that the parent custom resource is implied by the decorator on the parent handler. On the other hand it could convey the notion that this one handler and not the CR is the owner

[2020-01-31 10:51] nolar commented on #301
I only found https://kubernetes.io/docs/concepts/configuration/scheduling-framework/ — but it is about the pod scheduling, i.e. assigning them to the nodes. I'm not sure this was ever doable with operators (both Go- & Python-based).

Technically, Kopf is able to handle built-in resources now, including pods. But this handling is limited to watching over them and patching their fields (either spec

[2020-01-31 11:32] nolar commented on #58
@elemental-lf It is not yet defined. These cross-resource relations & handlers are quite a big topic, so I didn't even start looking into it deeper than that draft.

As far as I know, there are no implemented equivalents of such a high-level approach in other languages (I can be wrong here); in K8s itself, the relations are implemented via the labels (as in `job-name` for jobs<->pods) and label-se

[2020-01-31 15:31] cliffburdick commented on #301
Hi @nolar, thanks for the response. Let me give you a bit more background.

We have a custom Python scheduler we are developing here: https://github.com/Viasat/nhd, that we presented at Kubecon last year. Right now the scheduler does its own reconciliation loop, where the only difference (I believe) from a normal operator is it looks for the "scheduler-name" field in the pod spec, and is allowed t

[2020-01-31 15:43] janvdvegt opened #304 "Delayed handling"
I have a question about delayed execution of some task using Kopf. I see there are the `TemporaryError` errors that can handle this, it might be possible to use this for it but even if that is the case it would be poorly worded. Example use cases could be a custom implementation of a CronJob. Is that possible with something else than a `TemporaryError` or even with `TemporaryError`?

[2020-01-31 15:51] cliffburdick commented on #58
Sorry, I meant CRs (an instance of the CRD). I wrote a much more detailed explanation in #301 .

[2020-01-31 21:13] nolar commented on #301
**For the first part,** as I understand, you want something like this:

[code]

Specifically:

On-creation handlers are triggered when the pod is seen for the first time. I.e. when it is created. Usually, you can expect the handling to be done near instantly, much before the pod is actually started by any schedulers (but it already exists).

You might want to take a look into the `@on.update` hand

[2020-02-01 19:47] cliffburdick commented on #301
@nolar thanks! I think this sounds very promising, and I'll do some prototyping over the coming weeks. I really appreciate your comments, and I'll let you know when I update our project to use it.

[2020-02-03 13:18] thilp opened #305 "Censor Authorization header in "Failed to post an event" logs"
First, thank you so much for Kopf! After working on Kubernetes operators in Go, it's so refreshing!

## Problem

When Kopf fails to post an event, it logs the whole HTTP request, including the Authorization header. This exposes the OAuth token used by the operator to anyone who can access these logs.

For example:
[code]
(Notice the `Bearer +++JWT_TOKEN_REDACTED+++` part.) The exception is a custo

[2020-02-03 19:33] trulede commented on #177
I would suggest to catch the SyntaxError, and something similar for a missing file. Then print a neat error message about that.

However, empty files, or files with no handlers, is not really a problem - today I was loading some common functions from a file, the functions are used by handlers. If you wanted too, you could print a line for each imported file (with its full path), and how many handl

[2020-02-03 21:53] nolar commented on #305
What about censoring the whole `aiohttp.ClientResponseError`'s repr, and only showing the HTTP status and message? Who knows what other sensitive headers it can leak by dumping the original request.

See #306 for a draft solution.

[2020-02-04 07:40] thilp commented on #305
That would also work for me, and it's indeed probably safer. Thank you for the fast answer!

[2020-02-04 09:30] #305 closed

[2020-02-06 21:56] klarose commented on #283
I wouldn't mind having this as well. I have controllers that can manage conflicts internally, but I want to use kopf to watch for updates/etc since it's much more elegant than using the k8s client directly.

Alternatively, if I could just hint to a handler that I didn't want it to annotate the object, but still have it break out the raw k8s event type (update, delete, create), it'd still be nice.

[2020-02-10 10:58] gtsystem opened #308 "Retry is not happening after exception"
## Long story short

If an exception occur inside a handler for `volumeattachments` objects, the handler will never get retried.

Looking at the logs, it seems that kopf try to patch the object status with `{"status":{"kopf": {"processing": ...}}}`
This patch call succeed but the object status is not changed. I guess this is the reason no further attempts are made.
In theory the `/status` endpoint

[2020-02-10 14:15] brutus333 opened #309 "Unprocessable Entity"
## Long story short

I've tried to qualify 0.25 based on existing tests built with KopfRunner context. These tests worked well with all versions from 0.21 to 0.24. However, using 0.25 will raise a framework error.

## Description

One of the simplest tests creates a custom object, lets the operator create a pod based on custom object definition and delete the custom object (which by owner cascaded

[2020-02-11 05:34] mhamann opened #310 "Duplicate logs when using coloredlogs"
## Question

I'm using the `coloredlogs` library to format my log output. When it's enabled, I end up getting duplicate logs: one line from kopf's logging handler and one from the coloredlogs handler I configured.

Is there a way to get kopf to piggyback on my existing coloredlogs setup? (I imagine this would work for any existing Python logging setup, not just mine.)

## Checklist

- [x] I have r

[2020-02-11 11:08] amolkavitkar opened #311 "RuntimeError: can't start new thread (0.23.2)"
## Long story short
operator pod gets killed due to hitting thread limit reached as process keeps on spawning new threads and in loads condition pod gets killed in every 2 Hrs

## Description
RuntimeError: can't start new thread
Traceback (most recent call last):
  File "/usr/local/bin/kopf", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/site-packages/click/core.py", li

[2020-02-13 16:33] nolar commented on #311
Hello. Thanks for reporting.

Can you please clarify the version? Are you sure it is version 0.23.2?

I see this line:

[code]

This sync approach was removed in #227 ([line link](https://github.com/zalando-incubator/kopf/pull/227/files#diff-204d11dc3e1fc3142f10d3a5dc72d56cL77)), which was released as 0.23 (followed by 0.23.1 & 0.23.2). — And it was replaced with aiohttp-based cycles, which is nat

[2020-02-13 16:56] nolar commented on #310
Kopf injects its own logger in `kopf.configure()` based on `--verbose`, `--debug`, or `--quiet` CLI options. See [the source code](https://github.com/zalando-incubator/kopf/blob/0.25/kopf/config.py#L25-L30).

The easiest way would be to define your `@kopf.on.startup()` handler, and tweak the handlers of the root logger. But few initial lines will be logged in the original setup anyway (before the

[2020-02-13 17:23] nolar commented on #309
Hello. Thanks for this interesting use-case.

I'm quite surprised that it worked with 0.24 and before — it should also fail. There were no changes that could avoid this error.

There is a code for a similar case already — when 404 is returned from patching (see [code](https://github.com/zalando-incubator/kopf/blob/0.25/kopf/clients/patching.py#L57-L58)). However, in your case, it is not 404, but 4

[2020-02-13 18:17] nolar commented on #308
Hello. Thanks for reporting.

Yes, indeed, Kopf relies on patching the object to cause a cascaded reaction with the next steps (maybe not the wisest way, but it was done so originally, and I had no reasons to redesign that _yet_).

As far as I know, `/status` is slightly different now when it is declared [as a subresource](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/cus

[2020-02-13 18:18] nolar commented on #308
A note for self on how it is defined in a GKE cluster:

[code]

So, `volumeattachments/status` is obviously there, separated from `volumeattachments`.

The same happens with CRDs when status is declared as a sub-resource:

[code]

A little experiment shows that it indeed reacts only when `/status` is patched, and ignores the changes when the object itself is patched with the `status:` field.

[cod

[2020-02-13 20:04] nolar commented on #308
Related: #119. Should be fixed with #313.

[2020-02-13 20:08] nolar commented on #238
Fixed in #97.

[2020-02-13 20:08] #238 closed

[2020-02-14 08:49] gtsystem commented on #308
As I mention, it seems that added custom fields in /status are just ignored:

[code]

[2020-02-14 09:14] nolar commented on #308
Ouch. That is highly unfortunate. Sorry, I missed that statement.

I couldn't quickly figure out how to create VolumeAttachments in GKE even with a pod+pvc pair — so I could not test it  on this resource specifically yesterday evening.  Well, at least, it now works with other resources with status-as-a-subresource (#119).

What I can suggest, is a per-resource-kind or per-operator config where the

[2020-02-14 09:36] gtsystem commented on #308
I can reproduce in other built in resources like pod or pvc. I jsut tried patching a top-level field, again no luck. Maybe new versions of kubernetes are getting more strict..

[2020-02-14 17:30] nolar commented on #308
Indeed. I now also have this reproduced with pods in Minikube with 1.16. Neither status nor root accepts arbitrary fields. The only place it accepts arbitrary content is annotations.

So far, so good — let's abuse annotations!

I have made a little dirty-hacking draft to store the operator's state locally in two formats: per-handler and per-handler-field. After the handling cycle, they are wiped (

[2020-02-14 21:53] gtsystem commented on #308
One annotation per handler looks already good to me :+1:

[2020-02-18 13:59] nolar commented on #311
One idea how this happens:

Kopf uses a threaded executor of asyncio for synchronous handlers (declared with `def`, not `async def`).

Python's threaded executor adds one more thread on every use until max_workers is reached ([link](https://github.com/python/cpython/blob/3.7/Lib/concurrent/futures/thread.py#L183-L195)) — not all threads at once, but one-by-one.

The default max_workers is `os.cpu_

[2020-02-19 11:32] nolar commented on #311
It did help. The thread count does not grow once the operator is started and used: it stays at 12 (10 were configured for the executor, 1 for the main thread, 1 for something Python's perhaps).

![image](https://user-images.githubusercontent.com/544296/74830458-77f12d80-5313-11ea-858f-6b46e5ed3202.png)

So far, the issue is a matter of asyncio's thread executor setup — can be done on the operator

[2020-02-20 11:20] #119 closed

[2020-02-26 11:17] xocoatzin opened #317 "Question: What is the best approach to monitor children objects within their parent?"
Hi all,

I'm currently working on porting some code from [metacontroller](https://github.com/GoogleCloudPlatform/metacontroller) into Kopf.

Metacontroller, gives you the option to receive callbacks when the monitored object changes, or any of its children is updated.

For example, if I'm watching an object of kind `multijob`, which creates an arbitrary number of standard kubernetes `job`s, I woul

[2020-02-28 20:27] #299 closed

[2020-03-02 18:25] klenje opened #318 "Patch verb needed on read only watches"
## Long story short
Read operations are requiring Patch verb, while I would expect that only get/list/watch operations are needed. Any reason behind this?

## Description

<details><summary>The code snippet to reproduce the issue</summary>

[code]

[code]
</details>

<details><summary>The full output of the command that failed</summary>

[code]
</details>

It works fine when adding patch verb on n

[2020-03-02 21:34] lack opened #319 "Optionally remove the Status handler_id prefix"
## Problem

I want to write an operator where multiple handlers update the same Status fields in my object.  The reason for this is twofold:

First I don't want the status object's schema to be defined on-the-fly in code, but by the CRD itself.  This is especially important in ``apiVersion: apiextensions.k8s.io/v1`` where extra measures need to be taken in order to allow arbitrary data to be added

[2020-03-03 02:14] lack opened #321 "Store handler progress data in an annotation, not the status subresource"
## Problem

As of ``apiextensions.k8s.io/v1`` it is much more difficult to create a CRD that allows unvalidated information, as an openapi schema is required for even the status subresource.  Tracking the handler progress in an annotation instead of the status subresource means it's easier to use kopf to write operators for CRDs that we don't own.

To define a wide-open status subresource in a v1

[2020-03-04 07:18] flo-02-mu commented on #321
I am running into this issue when watching a k8s service object. The patch command does not return any error, but no kopf status is added. Thus, no retry attempt is made in case of exceptions.

[2020-03-04 15:55] dahateb commented on #100
We built an operator based on kopf to manage the aws eks aws-auth configmap (as decribed here:  https://docs.aws.amazon.com/eks/latest/userguide/add-user-role.html) through custom resources.

https://github.com/TierMobility/aws-auth-operator

[2020-03-06 11:10] nolar commented on #317
Related: #58 #264
See also: https://github.com/zalando-incubator/kopf/issues/264#issuecomment-562845724

You are right, the only way is —as you said— _"adding separate listeners for both the parent/children, and within the children listeners update the parent CRD"_.

Keep in mind, that Kopf keeps one and only one watch-query (an API request) per resource kind no matter how many handlers are there

[2020-03-06 11:13] nolar commented on #299
Sorry for the late response. I cannot help here much, as I am not familiar with your domain. But your way of solving it seems sufficient and normal — should work. Are there any specific problems why this does not work?

[2020-03-06 13:10] xocoatzin commented on #317
Thank you @nolar for the detailed update. My current approach looks very similar to the example you provided. Will follow up closely on future releases.

[2020-03-06 13:45] pshchelo commented on #318
@klenje kopf stores the last handled state of the resource in a custom annotation of that very resource, this is how it detects what has changed.
Thus, after the resource handler finishes, kopf has to update the annotation on the resource with the last state it has acted on - thus a need for patch verb to be allowed.

[2020-03-06 13:55] pshchelo commented on #318
While this quite simplifies the code (there's no need to run a separate 'state' storage) it has some drawbacks.
Just to share our on pains:
we need to watch .status of Deployments. The thing is - deployment's generation is a) present in status and b) is bumped on annotation changes too! (presumably as K8s stores its own data for rollback there and thus aggros on every change to annotations, bug?).

[2020-03-06 14:14] seperman commented on #299
Hi,
Thanks for responding. I decided to use RDBS instead of dumping the state to k8.
Sep

[2020-03-06 14:40] pshchelo commented on #204
@nolar We experience something very similar with latest kopf release still (minus connection reset by peer part):
after leaving the controller for some time (like overnight) it stops handling changes of resources it watches - there's complete quietness in handlers logs, kopf annotation in the resource is not updated.
We've enabled liveness probes too, they are constantly passing (per logs and no c

[2020-03-07 15:43] zasherif opened #324 "Change the handler filter dynamically"
First of all, thanks for the fantastic framework!

## Long story short

Let's say I have a handler that filters object, How can I change the filter dynamically within the handler logic?

## Description

Consider this example:
[code]

The labels are static 'somelabel': 'somevalue'. It would be great to have an interface that easily change the filter. For example:

[code]

Is that plausible? Can I a

[2020-03-11 14:59] rvlane commented on #100
I was looking at using kopf for our mariadb operator, however we are using a centos8 distribution deploying python 3.6.8.  I assume that since kopf requires python-3.7 that you are using specific feature of that release?  We are tied by the centos distribution so it is unfortunate that kopf isn't supported on python 3.6.  Just looking for confirmation that kopf would not be compatible with python

[2020-03-11 15:52] nolar commented on #100
@rvlane Yes, you are right. Kopf requires Python 3.7+. See #74 — it was already bound to some of the 3.7 core features a year ago when it was starting and had only few features; and now, Kopf is dependant on many more 3.7+ features, which makes 3.6 support impossible (or highly effortful).

Please consider using pyenv for isolated binary Python 3.7 builds from source, maybe some backported pre-bui

[2020-03-18 14:59] smileisak commented on #292
@nolar sorry for the delay of my response, by adding the login handler everything worked fine.

[code]

[2020-03-23 15:11] michaelnarodovitch commented on #324
Hey, maybe you have a chance by using an arbitrary callback and changing that dynamically?

[code]

I didn't try it, but I am curious if it works. I expect so, as the `my_filter_func` callback seems to be mutable. See https://kopf.readthedocs.io/en/latest/filters/ for ref.

[2020-03-23 15:17] michaelnarodovitch commented on #321
I also had the same issues, but in an other context.
Seems, that the `CustomResourceDefinition` API silently ignores fields, which are not explicitly preserved.

[2020-03-24 14:38] gtsystem commented on #321
Related to bug #308 where the same issue is visible for standard resources

[2020-03-24 14:39] gtsystem commented on #308
Any update?

[2020-03-24 15:49] #292 closed

[2020-03-24 18:08] nolar commented on #308
Sorry, I was a bit busy with this coronavirus aftermath at work recently (well, not "a bit", actually). Nevertheless, I finally have some spare time now, and some of the framework's tasks are shifted from my private time to my work time — so, let's see how much faster it will go now and in the next few days.

**PS:** For custom resources, there is a workaround described in #321 (with `x-kubernetes

[2020-03-26 08:55] nolar opened #334 "Tests fail with "conntrack not found" for K8s 1.18"
## Long story short

Kubernetes 1.18 pre-flight checks fail in Minikube with `conntrack not found in system path`.

This fails all CI/CD tests and prevent further merges.

## Description

This seems to be caused by K8s 1.18 requiring `conntrack` preinstalled.

Examples:

* https://travis-ci.org/github/nolar/kopf/jobs/667145943
* https://travis-ci.org/github/nolar/kopf

Related: https://github.com/

[2020-03-26 09:43] #334 closed

[2020-04-01 08:10] nolar opened #338 "Cleanup and refactor the tests"
## Problem

Over the year of active development, the tests are in a clumsy state with lots of inconsistencies. It is time to refactor them (with one or more iterations).

## Proposal

The following is a collection of things to improve. Feel free to add ideas to comments.

* [ ] Run e2e tests in pristine-clean environments. #253
* [ ] Get rid of time-dependent tests. Use mocked time. #212
* [ ] Get

[2020-04-01 10:17] #19 closed

[2020-04-01 11:46] nolar commented on #19
Docs:

* https://kopf.readthedocs.io/en/latest/daemons/
* https://kopf.readthedocs.io/en/latest/timers/

[2020-04-01 11:53] nolar commented on #271
Daemons and timers are added in `kopf>=0.27rc1`.

Release notes:

* https://github.com/zalando-incubator/kopf/releases/tag/0.27rc1

Docs:

* https://kopf.readthedocs.io/en/latest/daemons/
* https://kopf.readthedocs.io/en/latest/timers/

**Beware:** the changes are quite massive, and the daemons/timers are a new feature, they are not tested thoroughly yet, can behave weird. Either test carefully in

[2020-04-01 11:53] #271 closed

[2020-04-01 11:56] nolar commented on #150
Daemons and timers are added in `kopf>=0.27rc1`.

Release notes:

* https://github.com/zalando-incubator/kopf/releases/tag/0.27rc1

Docs:

* https://kopf.readthedocs.io/en/latest/daemons/
* https://kopf.readthedocs.io/en/latest/timers/

This is not yet cross-resource relation handlers for proper event-/state-driven reconciliation, but it can help with reconciliation by regular polling as discussed

[2020-04-07 12:29] nolar commented on #324
Please note that in @michaelnarodovitch's solution, the `my_filter_func` is remembered in the handler at the moment of registration. Any future changes of a global `my_filter_func` variable will not be reflected in the handler. If you want to follow that way and have the global filter change for all the resources, use `when=lambda **kwargs: my_filter_func(**kwargs)` — it will use the current funct

[2020-04-07 12:29] #324 closed

[2020-04-07 12:31] rajivginotra commented on #263
Sure Nolar, the new kopf version looks stable now and we don't see the  above symptoms now.
Thanks for your help

[2020-04-07 12:31] #263 closed

[2020-04-11 19:02] krish7919 commented on #55
A related note: can we extend `kopf` to act as both a validating admissions webhook, as well as custom controller?

This should be in the scope of this project?

[2020-04-12 12:34] krish7919 opened #347 "Pass a context to every kopf call/handler"
## Question

I would like to embed kopf in an application to perform some extra cluster functions as a response to events.

I can always use a global variable.
Actually, I _have to_ go the embedding way as I want to build wrappers to take some custom arguments as input, validate them and then start the kopf asyncio loop. Plus I have to pass these params around as every handler would need them.

Th

[2020-04-15 21:17] nolar commented on #347
@krish7919 Just to clarify: do you mean an arbitrary object of arbitrary class, which is _passed through_ the call stack from the owning application down to the handlers (all of them), right? Something like a `memo` kwarg (per-resource container for arbitrary keys/fields), but global and of external origin?

[2020-04-15 21:31] nolar commented on #55
@krish7919 Yes, having validating & mutating handlers is _intended_ for Kopf — i.e., the feature is in Kopf's scope. Beside, it is one of three remaining major features left to implement to reach the original vision: daemons & timers; admission hooks; cross-resource communication.

But I would not promise anything regarding plans or dates now — we change the plans and priorities on the go (work-re

[2020-04-15 21:33] krish7919 commented on #347
Precisely. In Go, this is the `context`, or a `struct` with the values required.

[2020-04-17 21:05] mnaser commented on #347
This is something that's interesting for our usage too, especially when we're constantly trying to connect to the Kuberentes API..

[2020-04-17 21:07] mnaser opened #348 "Improving logging when loading modules"
First of all, excellent work on the operator, we're moving away from kubebuilder and adopting it here:

https://opendev.org/vexxhost/openstack-operator

Slowly but surely, the codebase is shaping up. :)

## Problem

It's simple, the logs when loading it via a module don't give you enough information about the module which the function is called from, for example, we frequently call the 'create' fu

[2020-04-21 08:35] eshepelyuk commented on #100
Hello, I can't run the sample example. The stack trace tells

Is it possible that it happens because of we're using OIDC for local K8s auth ?

[2020-04-21 09:58] nolar commented on #100
@eshepelyuk Can you please create a separate issue for that?

[2020-04-21 10:00] eshepelyuk commented on #100
@nolar sure I could, but is it a reason ? or you don't know yet ?

[2020-04-21 14:47] eshepelyuk opened #349 "Authorization failure on sample operator example, maybe related to OIDC auth"
## Long story short
Trying to run sample operator from the docs, unable to run it. We're using OIDC for k8s cluster authorization.

## Description

Using example from https://github.com/zalando-incubator/kopf/tree/master/examples/01-minimal

<details><summary>The exact command to reproduce the issue</summary>

[code]
</details>

<details><summary>The full output of the command that failed</summary

[2020-04-22 21:46] eshepelyuk commented on #100
@nolar does kopf have any social communications tools, like gitter, twitter, slack ?

[2020-04-23 07:08] nolar commented on #349
Thank you for reporting it with all the details, especially with the packages.

Can you please additionally `pip install kubernetes` — does it work then?

---

Kopf contains only a minimal authentication logic of using `kubeconfig` "as is". No token rotation or external identity engines are implemented. Instead, Kopf piggy-backs on the authentication logic of `kubernetes` and `pykube-ng` _if they

[2020-04-23 08:26] eshepelyuk commented on #349
well, the `pykube-ng` itself works ! i run it from python console and retrieved k8s objects successfuly.

i'll try to install kubernetes native client and will report later

[2020-04-23 10:00] eshepelyuk commented on #349
@nolar your suggestion worked, `pip install kubernetes` made my code works locally.

[2020-04-23 10:20] nolar commented on #349
Hm. That's interesting. What I see in the logs, is that pykube's credentials were retreived and didn't work:

[code]

It is unexpected that pykube-ng works interactively. Maybe, the token extraction during auth-piggy-backing is somehow incomplete (but it should as simple as SSL certs & HTTP auth headers extraction, no magic).

When you tried it in the console, was it after the `kubernetes` install

[2020-04-23 10:48] nolar commented on #100
@eshepelyuk No (yet). Twitter [@nolar](https://twitter.com/nolar) is one way to reach me. I am also passively present in https://kubernetes.slack.com/ — there is no special chat room for Kopf, so #kubernetes-operators is a good place to start (maybe) — I have instant notifications when someone mentions me.

For feature requests and questions, it is better to use issues here in GitHub — so that the

[2020-04-23 10:56] eshepelyuk commented on #349
1. we're not using google, we're using own SSO service
1. i tried interactive `pykube-ng` many times in different combinations, `kubernetes` was not installed, operator never worked

[2020-04-28 12:15] styk-tv commented on #349
Client auth seems to work ok but operator has issues accessing the api, if I had to guess, I would check/relax RBAC restrictions on what the Operator can do. Play around with Roles, RoleBinding and ClusterRole, ClusterRoleBindings. In OIDC they can bind to different attributes, anything from the token really, custom groups etc. Check under 'watcher' and make sure Operator has RBAC permission to do

[2020-04-28 12:32] styk-tv opened #354 "Minikube with Env KUBECONFIG (different filename) fails to load (no default context)"
Normally this is not an issue. Everything defaults to ./kube/config and works fine. But what if your configfile is under a different filename? You would set KUBECONFIG environment variable to something like ".kube/config.mini" and kubectl works fine.

However, by default minikube has no default context set. Kubectl is able to deal with this fine, however pykube insist default config to be set.

Mi

[2020-04-28 12:42] eshepelyuk commented on #349
@styk-tv as soon I change k8s client as described abov, all is working.
So I don't think it's RBAC issue.

[2020-04-29 18:31] styk-tv opened #355 "kopf.on.create - how to access jwt token requesting the change?"
In scenario where OIDC is enabled on API and each making requests is known to the Kubernetes API,  request is authenticated with Bearer token, kube api does its verification and so on, how would I request the token? I want to make decisions inside kopf based on the attributes from the auth token?

just a note: obviously I don't mean the authentication of the operator, but the token of the requesto

[2020-04-29 18:48] corka149 commented on #232
We experienced the same issue until we upgraded Kubernetes to 1.15.10 in AKS. In addition I changed the version of Kopf from 0.25 to 0.26.

To the situation before: I noticed that events for CRDs were still being received.

[2020-04-29 19:02] corka149 commented on #100
With Kopf we implemented an operator. It helps us to control the number of rising systems. This includes tasks like informing people, keeping things update-to-date, keep the system calm.

I am very excited about the coming daemon-decorator.

[2020-05-01 14:19] johnnyrun opened #356 "kopf.timer + kopf.create ==> can't delete"
## Long story short

If you use kopf.timer ans kopf create/update on the same resource, "kubectl delete" hangs.

## Description

kubectl delete logconfigs xxx

^-- this command hangs.
Logs say that the delete function has run with success:
[code]
the kubectl command does not return.

<details><summary>The code snippet to reproduce the issue</summary>

[code]
</details>

<details><summary>The full

[2020-05-03 08:29] atamgp commented on #232
Not sure if this is releated, maybe I'll create another ticket. On eks@0.15 and kopf@0.26 I tried :

[code]

Results  in

In the same promt, `kubectl get namespaces` works....

[2020-05-04 15:55] klenje commented on #318
Thanks for the explanation and the insights! Indeed the impact of the choice needs to be considered based on the resource you want to watch, no such loops in my case.

[2020-05-04 15:55] #318 closed

[2020-05-04 17:02] cliffburdick opened #357 "Embedded Example Not Working"
## Long story short

I'm trying to run the embedded example untouched, but getting exceptions thrown from urllib3. It is complaining about connection refused (I'm assuming to the k8s master).

## Description

I'm using the kubeconfig method as opposed to running in a pod, and get the output shown in the summary below.

kubectl works with kubeconfig:
[code]

The output below shows it is configured

[2020-05-04 18:03] eshepelyuk commented on #357
@cliffburdick it tries to reach k8s api at  localhost:80. I doubt your k8s api are exposed on this address.

[2020-05-04 18:41] cliffburdick commented on #357
@eshepelyuk that definitely looked like a problem to me, but the output said it was using kubeconfig (which is not localhost). I figured since that's the case, it should know not to use it, right? There's nothing in the example pointing to localhost either.

[2020-05-04 18:46] eshepelyuk commented on #357
@cliffburdick maybe you are using non standard auth ? Like oidc or smth ?
We use oidc - and there are issue i've opened about it.
Just trying to help to put your attention to this particular issue related to incorrect k8s api url.

[2020-05-04 18:47] cliffburdick commented on #357
@eshepelyuk thanks. I'll try to see if I can find where that's coming from. We shouldn't be using any non-standard auth since it's a default kubeadm install without any kind of RBAC.

[2020-05-04 18:50] eshepelyuk commented on #357
@cliffburdick you also may try minikube to check if the reason is realy about kubeadm

[2020-05-04 20:00] cliffburdick commented on #357
Hi @eshepelyuk, I was able to "fix" it by adding a `config.load_kube_config()`. It's more of a workaround since the example seemed to say it was already using the kubeconfig.

[2020-05-04 20:05] eshepelyuk commented on #357
@cliffburdick maybe config loading bug, but unfortunately i can't suggest anything useful anymore. Need to wait for maintainers.

[2020-05-05 08:30] GrahamDumpleton opened #358 "Using TemporaryError, but handler is not being called again."
## Long story short

When raising ``TemporaryError``, the custom resource create handler is not being called after delay to try again.

## Description

Logs show:

[code]

but it is never retried.

What is odd is that it works fine on Minikube, and previously worked fine on a separate production grade cluster, but now the production grade cluster no longer works. Also works when run kopf on macOS

[2020-05-05 09:21] GrahamDumpleton commented on #358
So this is going to be the problem when using v1 of CRDs, of not allowing for kopf object in the status as examples in https://github.com/zalando-incubator/kopf/issues/321 show. IOW,

[code]

or:

[code]

I can't see that the need for using `` x-kubernetes-preserve-unknown-fields: true`` is mentioned in the documentation, so perhaps something at least needs to be added in there in a section relate

[2020-05-05 09:21] #358 closed

[2020-05-07 20:30] Carles-Figuerola opened #359 "Helm 3 change triggers create insteand of update"
## Long story short

helm 3 updates trigger `@kopf.on.create` rather than `@kopf.on.update`.

## Description

After a resource has been created using helm3 (haven't tested with helm2), and the definition changes, kopf is triggering the create function rather than update

<details><summary>These are the debug logs from helm</summary>

[code]
</details>

<details><summary>This is how my operator see

[2020-05-08 15:13] zakkg3 commented on #317
This is a related q:
I want to react to new namespaces..

after playing with asyncio and threading I was able to react to new ns but then stopping the thread or the loop was not clean. also on kopf.on.cleanup I found tricky...
So then I found this thread so now i am using kopf.on.event wich is a cleaner way..
I try to label the existing ns and then whatching for non labeled ns...

[code]
 I am won

[2020-05-09 18:51] #264 closed

[2020-05-11 20:37] zakkg3 opened #365 "question: Best approach to update all objects on cluster-wide event (new namespace)"
## Question

HI! :)

I am working on a cross-namespaces resource that i need to create and maintain in every namespace that match some criteria.
I am stuck on reacting to new namespaces and run the kopf.on.resume or .on.update handler for all existing objects in all namespaces (crds)  to re-sync all the objects with the new namespace.
something like this:

[code]
but this will run N ( number of ob

[2020-05-11 23:14] Carles-Figuerola commented on #359
I think the issue here is that I'm using `--force` on my helm commands. I don't know if that changed slightly with helm2 to helm3, but I'm going to investigate further. For context, that's from helm's help:

[code]

[2020-05-12 07:58] nolar commented on #359
Thank you for reporting.

Well, a "replacement strategy" phrasing implies deletion and re-creation. Some quick googling also points to comments like https://github.com/helm/helm/issues/5281#issuecomment-581975916 saying that _"…`helm upgrade —force` is the equivalent of a `kubectl replace`…"_. [`kubectl replace` docs](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#replace)

[2020-05-12 09:12] nolar commented on #359
As a slightly more advanced solution, but also slightly more complex, you can utilise the recent configurable storage for diff-bases aka "essences" of the resources (available since [0.27rc6](https://github.com/zalando-incubator/kopf/releases) — release candidates yet):

[code]

The magic happens in `MultiDiffBaseStorage`: if it can find a last-handled-configuration record on the resource itself (

[2020-05-12 10:56] nolar commented on #365
You can try using on.create/on.update/on.delete handlers for namespaces. For that, you probably will need `kopf>=0.27rc6` (or 0.27 once released; see [release notes](https://github.com/zalando-incubator/kopf/releases)), as it provides ways of configuring operator's identity — to not collide with other Kopf-based operators serving the same object.

Specifically, Kopf will put a finalizer on the nam

[2020-05-12 12:50] eshepelyuk opened #366 "[proposal] Inject predefined k8s api client into handlers"
## Problem

It's frequent case when handlers need to interact with k8s API.
Currently there's a need to write boilerplate code for this, initializing k8s api client manually in operator code.

## Proposal

`kopf` could inject either `pykube-ng` or native `kubernetes` client into handler, based on some sane defaults, e.g. - use config from service account.

Injecting `pykube-ng` based client

[code

[2020-05-12 13:00] nolar commented on #358
@GrahamDumpleton Thanks for reporting this.

Indeed, we also had few little issues on our side with these "[structural schemas](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/)" of Kubernetes 1.16+ and v1beta1->v1 transition.

I've now added few special notes to the docs (#364).

The whole problem is also addressed in #331 with switching from status to annotations by default ([docs](h

[2020-05-12 14:17] nolar commented on #366
Thank you for your suggestion.

Can you please clarify what would be a benefit over initialising those clients in place, either as module-level vars or in each handler/on each use? E.g.:

[code]

(`from_env()` is an equivalent of in-cluster first, from kube-config second.)

[2020-05-12 14:25] eshepelyuk commented on #366
The benefits

1. less boilerplate code, users of `kopf` will not care about creating a client themselves
1. speed of code execution, i.e. client doesn't need to be created on each handler
1. reusal of a already existing component ( i belive kopf has own client inside)